{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
{% endblock %}  

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
{% endblock %}
      
{% block content %}
<div class="agancy-id">
  <div class="row">
        <div class="col col_1_of_3">
            <a href="{{ asset(agancy.getWebPath) }}" rel="group-profile-image" class="fancybox" title="{{ agancy.name | upper }}"><img src="{{ agancy.getWebPath | imagine_filter('my_master_thumb_large') }}" /></a>
        </div><div class="col col_3_of_5">
        <h2 style="color:#578fac;">{{ agancy.name | upper }}</h2>
        <h5 style="float:left;margin-right: 10px; color:#c2d9b1;">Основная информация:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
        <div class="row">
          <div class="col col_1_of_3 blue">брэнды:</div>
          <div class="col col_2_of_3">{% for item in agancy.agancyBrand %}
             <p> {% if item.oficial %}
                    Официальный представитель {{ item.brand.name }}
                    {% if item.type == 'country' %}
                        в Украине
                    {% elseif item.type == 'region' %}
                        в области
                    {% elseif item.type == 'city' %}
                        в городе
                    {% endif %}
                 {% else  %}
                        {{ item.brand.name }}
                 {% endif %}
                    
            </p>
            {% endfor %}
          </div>
        </div>
        {% if (agancy.location and agancy.location.locality) %}
            <div class="row">
              <div class="col col_1_of_3 blue">город:</div>
              <div class="col col_2_of_3">{{ agancy.location.locality }} {{ agancy.location.administrativearea }}</div>
            </div>
        {% endif %}
        {% if agancy.user.hasPhones %}
        <div class="row">
            <div class="col col_1_of_3 blue">телефон:</div>
            <div class="col col_2_of_3">
                {% for item in agancy.user.phone %}
                    {% if item.showPhone  %}
                        <p>+38 ({{ item.operator }}) - {{ item.number }}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if agancy.user.hasMails %}
          <div class="row">
            <div class="col col_1_of_3 blue">email:</div>
            <div class="col col_2_of_3">
                {% for item in agancy.user.mail %}
                    {% if item.showMail  %}
                        <p>{{ item.name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  {% if (agancy.location and agancy.location.lat) %}
  <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">Работа:</h5><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
  <div id="map" style="width:100%;height:150px; margin-bottom: 20px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var myLatlng = new google.maps.LatLng(
                                   {{ agancy.location.lat }},
                                   {{ agancy.location.lang }});
                        var map_options = {
                            center:myLatlng,
                            zoom: 17
                        };
                        var map = new google.maps.Map(map_canvas, map_options);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map
                        });
                        
                    }
                    
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
  {% endif %}
  {% if (agancy.location and agancy.location.locality) %}
    <div class="row clear">
      <div class="col col_1_of_3 blue">Адрес:</div>
      <div class="col col_2_of_3">{{ agancy.location.locality }}, {{ agancy.location.sublocality }}, {{ agancy.location.route }} {{ agancy.location.streetNumber }}</div>
    </div> 
  {% endif %}
  {% if agancy.schedule is not empty %}              
    <div class="row clear">
      <div class="col col_1_of_3 blue">График работы:</div>
      <div class="col col_2_of_3">{% for item in agancy.schedule %}<p>{{ item.shcedule.nameRus }}{% if item.shcedule.name != 'record' %} {{ item.StartTime }} - {{ item.endTime }} {% endif %}</p>{% endfor %}</div>
    </div> 
  {% endif %}
  {% if agancy.portfolio is not empty %}
    <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear;">Портфолио:</h5><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
    <div class="gallery row">
        {% for image in agancy.portfolio%}
          <div class="col col_1_of_6">
            <a href="{{ asset(image.getWebPath) }}" rel="group1" class="fancybox" title="{{ image.description }}"><img src="{{ image.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></a>
          </div>
        {% endfor %}
    </div>
  {% endif %}
</div>
  <script>
    $(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
  </script>
{% endblock %}