<a href="{{ path('la_net_la_net_agancy_profile') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_profile' %} active {% endif %}">Основная информация</a>
<a href="{{ path('la_net_la_net_agancy_profile_work') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_profile_work' %} active {% endif %}">График работы</a>
<a href="{{ path('la_net_la_net_agancy_profile_portfolio') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_profile_portfolio' %} active {% endif %}">Портфолио</a>
{#<a href="{{ path('la_net_la_net_agancy_profile_service_price') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_profile_service_price' %} active {% endif %}">Услуги и цены</a>#}
<a href="{{ path('la_net_la_net_agancy_change_pass') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_change_pass' %} active {% endif %}">Сменить пароль</a>
<hr class="clear" style="margin:7px 0 20px 0;" />