{% extends "LaNetLaNetBundle::layoutProfile.html.twig" %}

{% form_theme form 'LaNetLaNetBundle:Form:fields.html.twig' %}

{% macro phone_prototype(phone) %}
   +38 ({{ form_widget(phone.operator) }}) {{ form_widget(phone.number) }}
{% endmacro %}

{% macro mail_prototype(mail) %}
   {{ form_widget(mail.name) }}
{% endmacro %}
        
{% block menu %}
  {% include "LaNetLaNetBundle:Consumer:menu.html.twig" %}
{% endblock %}
  
{% block profile_content %}
<h1>Основная информация</h1>

<form action="" {{ form_enctype(form) }} method="POST" name="{{ form.vars.name }}">
        <div class="row errors">
            {{ form_errors(form) }}
        </div>
        <div style="display:table">{{ form_widget(form.userInfo.file) }}</div>
        {{ form_row(form.userInfo.firstName) }}
        {{ form_row(form.userInfo.lastName) }}
        {{ form_row(form.userInfo.gender) }}
        {{ form_row(form.userInfo.birthday) }}


        <label>Телефон: (+38 0XX XXXXXXX)</label>
        <ul class="phone" data-prototype="{{ _self.phone_prototype(form.phone.vars.prototype)|e }}">
            {% for item in form.phone %}
                <li>+38 ({{ form_widget(item.operator) }}) {{ form_widget(item.number) }}</li>
            {% endfor %}
        </ul>
        <div>{{ form_widget(form.showPhone) }}{{ form_label(form.showPhone) }}</div>
        <label>Дополнительный электронный адрес:</label>
        <ul class="mail" data-prototype="{{ _self.mail_prototype(form.mail.vars.prototype)|e }}">
            {% for item in form.mail %}
                <li>{{ form_widget(item.name) }}</li>
            {% endfor %}
        </ul>
        <div>{{ form_widget(form.showMail) }}{{ form_label(form.showMail) }}</div>
        <div>{{ form_widget(form.newsNotify) }}{{ form_label(form.newsNotify) }}</div>
        {{ form_row(form.save) }}
        {{ form_row(form._token) }}
        
</form>
{% endblock %}