{% extends "LaNetAdminBundle::layout.html.twig" %}
 
{% block stylesheets %}
      {{ parent() }}
        <script src="{{ asset('js/tiny_mce/tinymce.js')}}"></script>
        <script src="{{ asset('bundles/lanetadmin/js/initTinyMCE.js')}}"></script>
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
       <script src="{{ asset('bundles/lanetlanet/js/mastersPortfolio.js') }}"></script>
  {% endblock %}
      
{% form_theme form _self %}

{% block image_upload_widget %}
    {% spaceless %}
        <div class="float-left">
          <img id="{{id}}_image" style="width:400px;" src="{% if image_url is empty %}{{ asset('uploads/images/default.png') }}{% else %}{{ asset(image_url) }}{% endif %}" class="image-upload-preview" />
        </div>
        <a href="javascript:void(0);" onclick="javascript:openFileInput('{{id}}')" class="button">Upload</a>
        <input type="file" {{ block('widget_attributes') }} style="display:none"/>
        <script type="text/javascript">
            $("#{{id}}").change(function(){
                readURL(this, '{{id}}_image');
            });
        </script>
    {% endspaceless %}
{% endblock %}
  
{% block content %}
  <h2>{% if discount.getId %}Обновить скидку{% else %}Создать скидку{% endif %}</h2>
  <form action="" method="post" {{ form_enctype(form) }} class="frm-project">
        {{ form_widget(form.file) }}
       <div>
        <div><label for="salonCategory">Скидка для салона:</label></div>
        <select name="salonCategory" required id="salonCategory" class="half">
          <option value="">Выберите салон</option>
          {% for salon in salonCategory %}
            <option value="{{ salon.id }}" {% if discount.getId %}{% if discount.salon.id == salon.id  %} selected="selected"{% endif %} {% endif%}>{{ salon.name }}</option>
          {% endfor %}
        </select>
        </div>
         {{ form_row(form.description) }}
    <div>
      <button id="cancel-discounts-btn">Назад</button>
    {{ form_widget(form.save) }}
  
    </div>
         {# {{ form_rest(form) }} #}
         {{ form_row(form._token) }}
   
  </form>
  <script>
      $(document).ready(function(){
        $('#cancel-discounts-btn').click(function(event) {
               event.preventDefault();
               window.location = Routing.generate('la_net_admin_discounts_list');
            });
        {% if discount.id %}
        $('.remove-image').click(function(event) {
        event.preventDefault();
          var el = $(this);
          $.ajax({
              url         : Routing.generate('la_net_admin_discounts_remove_image', {'id': {{ discount.id }}}),
              success     : function(data) {
                if(data) { 
                  el.prev('img').remove();
                  el.remove(); } }
          })
      })
      {% endif %}
        });
          
        
  </script>
{% endblock %}

