{% extends "LaNetLaNetBundle::layout.html.twig" %}


  
{% block content %}
  <div>
      <div style="padding-bottom: 20px;">
      <div>Размещение рекламы на портале, коммерческие вопросы:</div>
         <div style="padding-left: 50px; padding-top: 10px;">
            <div>e-mail: <a>LaLook.lu@gmail.com</a></div>
            <div>тел.: (+380)68 784 12 08</div>
        </div>
     </div>
       
     <div style="padding-bottom: 20px;">    
       <div>Заказ фото- и видео-сьёмок: </div>
        <div style="padding-left: 50px; padding-top: 10px;">
            <div>e-mail: <a>LaLook.lu@gmail.com</a></div>
        <div>тел.: (+380)68 978 18 24</div>
                
        </div>
    
     </div>
    
      
      <div style="padding-bottom: 20px;">
        <div>PR, сотрудничество, информационная поддержка:</div>
            <div style="padding-left: 50px; padding-top: 10px;">
                <div>e-mail: <a>LaLook.lu@gmail.com</a></div>
            </div>
       </div>
    
     <div style="padding-bottom: 15px;">
    <div>Мы в социальных сетях:</div>
     <div style="padding-left: 50px; padding-top: 10px;">
    <div><a href="https://www.facebook.com/groups/LaLook/">www.facebook.com/groups/LaLook</a></div>
    </div>
    </div>
 
  </div>
 
    
{#<h1>Обратная связь</h1>

<form action="" {{ form_enctype(form) }} method="POST" name="{{ form.vars.name }}">
        <div class="row errors">
            {{ form_errors(form) }}
            
        </div>

        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
        {{ form_row(form.name) }}
        {{ form_row(form.company) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.mail) }}

        
        {{ form_row(form._token) }}
        <input type="submit" value="Отправить" />
</form>#}
{% endblock %}