{% extends "LaNetLaNetBundle::layout.html.twig" %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
  <script src="{{ asset('bundles/lanetlanet/js/mail_phone_collection.js') }}"></script>
  <script src="{{ asset('bundles/lanetlanet/js/country_city.js') }}"></script>
{% endblock %}
  
{% block slider %}
{% endblock %}

  
{% block content %}
  <div class="row">
    <div class="col col_1_of_1">
        {% block menu %}

        {% endblock %}
        {% for flashMessage in app.session.flashbag.get('notice_profile') %}
            <div class="flash-notice success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
  </div>
  {% block profile_content %}
  {% endblock %}
{% endblock %}