{% extends "::base.html.twig" %}
{% block title %}Всеукраинский портал индустрии красоты и здоровья{% endblock %}
{% block body %}
<div class="wrapper">
  {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice success">
            {{ flashMessage }}
        </div>
    {% endfor %}
 
   
    
    <button class="btn btn-info btn-lg" type="button" id="notifications-modal-btn" data-toggle="modal" data-target="#myModal">Подписаться</button>
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" id="close-btn" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Введите адресс электронной почты</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="notifications" style="width:100%;"/>
                        <span id="valid"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default notifications-confirm" type="button" >Подписаться</button>
                    </div>
                </div>
            </div>
        </div>
    {% block slider %}
      {#<section>
          <ul>
              <li><a href="" id="brand">Бренд</a></li>
              <li><a href="">Салоны</a></li>
              <li><a href="">Обучающие центры</a></li>
              <li><a href="" id="lorem">Lorem Ipsum</a></li>
          </ul>
          <div id="slide"><a href=""><img src="images/max.jpg" width="679" height="311" /></a></div>
      </section>#}
    {% endblock %}
    
     <div class="container">
          <div class="row-fluid">
              <div class="span8">
                  {% block content %}
                      
                   {#<div class="menu">
                      <div class="sectionName">
                      <h2>Мастера и салоны</h2>
                      </div>
                      <div class="sectionLine"></div>
                      <ul>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 3 }) }}" class="firstLi">Парикмахер</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 8 }) }}" class="secondLi">Наращивание волос</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 4 }) }}" class="thirdLi">Косметолог</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 9 }) }}" class="fourthLi">Маникюр / Педикюр<br/>Наращивание ногтей</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 5 }) }}" class="fifthLi">Массажист</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 10 }) }}" class="sixthLi">Пирсинг</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 6 }) }}" class="sevenLi">Наращивание ресниц</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 11 }) }}" class="eightLi">Визажист</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 7 }) }}" class="nineLi">Тату / Татуаж</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 12 }) }}" class="tenLi">Депиляция</a></li>
                          </ul>
                  </div>
                  <div class="menu">
                      <div class="sectionName">
                      <h2>Косметика и препараты</h2>
                      </div>
                      <div class="sectionLine"></div>
                      <ul id="kosmetika">
                          <li><a href="" class="firstLi">Для парикмахера</a></li>
                          <li><a href="" class="secondLi">Для наращивания<br />волос</a></li>
                          <li><a href="" class="thirdLi">Для косметолога</a></li>
                          <li><a href="" class="fourthLi">Для маникюра /<br />педикюра /<br />наращивания ногтей</a></li>
                          <li><a href="" class="fifthLi">Для массажиста</a></li>
                          <li><a href="" class="sixthLi">Для депиляции</a></li>
                          <li><a href="" class="sevenLi">Для тату /<br />татуажа</a></li>
                          <li><a href="" class="eightLi">Для наращивания <br />ресниц</a></li>
                          <li><a href="" class="nineLi">Для визажиста</a></li>
                          <li><a href="" class="tenLi">Для пирсинга</a></li>
                      </ul>
                   </div>
                   <div class="menu">
                      <div class="sectionName">
                      <h2>Инструмент и оборудование</h2>
                      </div>
                      <div class="sectionLine"></div>
                      <ul id="instr">
                          <li><a href="" class="firstLi">Для парикмахера</a></li>
                          <li><a href="" class="secondLi">Для визажиста</a></li>
                          <li><a href="" class="thirdLi">Для косметолога</a></li>
                          <li><a href="" class="fourthLi">Для маникюра /<br />педикюра /<br />наращивания ресниц</a></li>
                          <li><a href="" class="fifthLi">Для массажиста</a></li>
                          <li><a href="" class="sixthLi">Для тату /<br />татуажа</a></li>
                          <li><a href="" class="sevenLi">Для депиляции</a></li>
                          <li><a href="" class="eightLi">Для пирсинга</a></li>
                          <li><a href="" class="nineLi">Для наращивания<br />волос</a></li>
                          <li><a href="" class="tenLi">Для наращивания<br />ресниц</a></li>
                      </ul>
                   </div>#}
        {% if events %}
            <h1 style="float:left;margin-right: 10px;">События</h1><hr align="right" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
            {% for post in events %}
              {% if not loop.first %} <hr /> {% endif %}
                <div class="row">
                    <h5 style="color:#2d93b2;text-align: center;"><a href="{{ path('la_net_la_net_events_id', { 'slug' : post.slug } ) }}" class="blue-link">{{ post.title}}</a></h5>
                    <div class="col col_1_of_1" style='margin-bottom: 20px;'><img src="{{ post.getWebPath | imagine_filter('my_news_big')}}" style="width:20%;" /></div>
                     {#<div class="col col_1_of_1">
                        {{ post.description | raw }} <a href="{{ path('la_net_la_net_events_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                    </div>
                   <div class="col col_1_of_2" style="color:#2d93b2;">
                        Добавлена на сайт {{ post.updated | localizeddate('long', 'short')}}
                    </div>#}
                    {#<div class="col col_1_of_2" style="color:#2d93b2;">
                        Отправить:
                    </div>#}
              </div>
            {% endfor %}
        {% endif %}  
                 
        {% if tests %}
            <h1 style="float:left;margin-right: 10px;">Тестирование продуктов</h1><hr align="center" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
            {% for post in tests %}
              {% if not loop.first %} <hr /> {% endif %}
                <div class="row">
                    <h5 style="color:#2d93b2;text-align: center;"><a href="{{ path('la_net_la_net_tests_id', { 'slug' : post.slug } ) }}" class="blue-link">{{ post.title}}</a></h5>
                    <div class="col col_1_of_1" style='margin-bottom: 20px;'><img src="{{ post.getWebPath | imagine_filter('my_news_big')}}" style="width:20%;" /></div>
                     {#<div class="col col_1_of_1">
                        {{ post.description | raw }} <a href="{{ path('la_net_la_net_events_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                    </div>
                   <div class="col col_1_of_2" style="color:#2d93b2;">
                        Добавлена на сайт {{ post.updated | localizeddate('long', 'short')}}
                    </div>#}
                    {#<div class="col col_1_of_2" style="color:#2d93b2;">
                        Отправить:
                    </div>#}
              </div>
            {% endfor %}
        {% endif %}  
        
                
        {% if trusts %}
            <h1 style="float:left;margin-right: 10px;">Им доверяют</h1><hr align="center" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
            {% for post in trusts %}
              {% if not loop.first %} <hr /> {% endif %}
                <div class="row">
                    <h5 style="color:#2d93b2;text-align: center;"><a href="{{ path('la_net_la_net_trusts_id', { 'slug' : post.slug } ) }}" class="blue-link">{{ post.title}}</a></h5>
                    <div class="col col_1_of_1" style='margin-bottom: 20px;'><img src="{{ post.getWebPath | imagine_filter('my_news_big')}}" style="width:20%;" /></div>
                     {#<div class="col col_1_of_1">
                        {{ post.description | raw }} <a href="{{ path('la_net_la_net_events_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                    </div>
                   <div class="col col_1_of_2" style="color:#2d93b2;">
                        Добавлена на сайт {{ post.updated | localizeddate('long', 'short')}}
                    </div>#}
                    {#<div class="col col_1_of_2" style="color:#2d93b2;">
                        Отправить:
                    </div>#}
              </div>
            {% endfor %}
        {% endif %}  
                 
        {% if advices %}
            <h1 style="float:left;margin-right: 10px;">Советы красоты</h1><hr align="center" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
            {% for post in advices %}
              {% if not loop.first %} <hr /> {% endif %}
                <div class="row">
                    <h5 style="color:#2d93b2;text-align: center;"><a href="{{ path('la_net_la_net_advices_id', { 'slug' : post.slug } ) }}" class="blue-link">{{ post.title}}</a></h5>
                    <div class="col col_1_of_1" style='margin-bottom: 20px;'><img src="{{ post.getWebPath | imagine_filter('my_news_big')}}" style="width:20%;" /></div>
                     {#<div class="col col_1_of_1">
                        {{ post.description | raw }} <a href="{{ path('la_net_la_net_events_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                    </div>
                   <div class="col col_1_of_2" style="color:#2d93b2;">
                        Добавлена на сайт {{ post.updated | localizeddate('long', 'short')}}
                    </div>#}
                    {#<div class="col col_1_of_2" style="color:#2d93b2;">
                        Отправить:
                    </div>#}
              </div>
            {% endfor %}
        {% endif %}  
        
        {% if masters %}
              <h1 style="float:left;margin-right: 10px;">Masters</h1><hr align="center" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
            
           {% for master in masters %}
  <div class="row clear">
    <hr style="margin-left: 3%;" />
    <div class="col col_1_of_4" style="text-align: center;"><img src="{{ master.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></div>
    <div class="col col_3_of_4">
      <h3><a class="black-link" href="{{ path('la_net_la_net_master_id', {'id': master.id }) }}">{{ master.firstName }} {{ master.lastName }}</a></h3>
      {% if master.category is not empty %}
        <div class="row">
          <div class="col col_1_of_3 blue">Специальность:</div>
          <div class="col col_2_of_3">{% for item in master.category %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
        </div>
      {% endif %}
     {% if master.location is not empty and master.location.locality %}
        <div class="row">
          <div class="col col_1_of_3 blue">Адрес:</div>
          <div class="col col_2_of_3">{{ master.location.locality }} {{ master.location.route }} {{ master.location.streetNumber }}
          </div>
        </div>
      {% endif %}
      <a style="float:right;" href="{{ path('la_net_la_net_master_id', {'id': master.id }) }}" class="blue-link">Подробнее</a>
    </div>
  </div>
{% endfor %}
        {% endif %}  
      
        {% if salons %}
              <h1 style="float:left;margin-right: 10px;">Salons</h1><hr align="center" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
            
           {% for salon in salons %}
  <div class="row clear">
    <hr style="margin-left: 3%;" />
    <div class="col col_1_of_4" style="text-align: center;"><img src="{{ salon.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></div>
    <div class="col col_3_of_4">
      <h3><a class="black-link" href="{{ path('la_net_la_net_salon_id', {'id': salon.id }) }}">{{ salon.name }}</a></h3>
        <a style="float:right;" href="{{ path('la_net_la_net_salon_id', {'id': salon.id }) }}" class="blue-link">Подробнее</a>
    </div>
  </div>
{% endfor %}
        {% endif %}  
                           
                  {% endblock %}
                  
              </div>
          
                  <div class="span4">
                      <div id="reklama">
                        <h2>Реклама</h2>
                    </div>
                    <div class="sectionLineReklama"></div>
                     {{ render(controller('LaNetAdminBundle:Banners:bannersShuffle'))}}
                    {#<a href=""><img src="{{ asset('images/reklama2.jpg') }}" height="174" width="330" class="reklama" /></a>
                    <a href=""><img src="{{ asset('images/reklama1.jpg') }}" height="176" width="331" class="reklama" /></a>#}
                  </div>

         </div>
    </div>
</div>
  
{% endblock %}