{% extends "::base.html.twig" %}

{% block body %}
<div class="wrapper">
  
    <h1 id="main">ПОРТАЛ ИНДУСТРИИ КРАСОТЫ И ЗДОРОВЬЯ</h1>
    {% block slider %}
      {#<section>
          <ul>
              <li><a href="" id="brand">Бренд</a></li>
              <li><a href="">Салоны</a></li>
              <li><a href="">Обучающие центры</a></li>
              <li><a href="" id="lorem">Lorem Ipsum</a></li>
          </ul>
          <div id="slide"><a href=""><img src="images/max.jpg" width="679" height="311" /></a></div>
      </section>#}
    {% endblock %}
    
     <div class="container">
          <div class="row-fluid">
              <div class="span8">
                  {% block content %}
                   <div class="menu">
                      <div class="sectionName">
                      <h2>Мастера и салоны</h2>
                      </div>
                      <div class="sectionLine"></div>
                      <ul>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 3 }) }}" class="firstLi">Парикмахер</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 8 }) }}" class="secondLi">Наращивание волос</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 4 }) }}" class="thirdLi">Косметолог</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 9 }) }}" class="fourthLi">Маникюр / Педикюр<br/>Наращивание ногтей</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 5 }) }}" class="fifthLi">Массажист</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 10 }) }}" class="sixthLi">Пирсинг</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 6 }) }}" class="sevenLi">Наращивание ресниц</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 11 }) }}" class="eightLi">Визажист</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 7 }) }}" class="nineLi">Тату / Татуаж</a></li>
                          <li><a href="{{ path('la_net_la_net_master_list', { 'category' : 12 }) }}" class="tenLi">Депиляция</a></li>
                          </ul>
                  </div>
                  {#<div class="menu">
                      <div class="sectionName">
                      <h2>Косметика и препараты</h2>
                      </div>
                      <div class="sectionLine"></div>
                      <ul id="kosmetika">
                          <li><a href="" class="firstLi">Для парикмахера</a></li>
                          <li><a href="" class="secondLi">Для наращивания<br />волос</a></li>
                          <li><a href="" class="thirdLi">Для косметолога</a></li>
                          <li><a href="" class="fourthLi">Для маникюра /<br />педикюра /<br />наращивания ногтей</a></li>
                          <li><a href="" class="fifthLi">Для массажиста</a></li>
                          <li><a href="" class="sixthLi">Для депиляции</a></li>
                          <li><a href="" class="sevenLi">Для тату /<br />татуажа</a></li>
                          <li><a href="" class="eightLi">Для наращивания <br />ресниц</a></li>
                          <li><a href="" class="nineLi">Для визажиста</a></li>
                          <li><a href="" class="tenLi">Для пирсинга</a></li>
                      </ul>
                   </div>
                   <div class="menu">
                      <div class="sectionName">
                      <h2>Инструмент и оборудование</h2>
                      </div>
                      <div class="sectionLine"></div>
                      <ul id="instr">
                          <li><a href="" class="firstLi">Для парикмахера</a></li>
                          <li><a href="" class="secondLi">Для визажиста</a></li>
                          <li><a href="" class="thirdLi">Для косметолога</a></li>
                          <li><a href="" class="fourthLi">Для маникюра /<br />педикюра /<br />наращивания ресниц</a></li>
                          <li><a href="" class="fifthLi">Для массажиста</a></li>
                          <li><a href="" class="sixthLi">Для тату /<br />татуажа</a></li>
                          <li><a href="" class="sevenLi">Для депиляции</a></li>
                          <li><a href="" class="eightLi">Для пирсинга</a></li>
                          <li><a href="" class="nineLi">Для наращивания<br />волос</a></li>
                          <li><a href="" class="tenLi">Для наращивания<br />ресниц</a></li>
                      </ul>
                   </div>#}
                  {% endblock %}
                  <div style="margin: 40px 20px;">
                  <input id="Service_address" style="width:100%;"/>
<div id="map" style="width:100%;height:150px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var map_options = {
                            center: new google.maps.LatLng(51.507, 0.127),
                            zoom: 8
                        };
                        var map = new google.maps.Map(map_canvas, map_options);

                        if(navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function(position) {
                                var location = new google.maps.LatLng(
                                    position.coords.latitude,
                                    position.coords.longitude
                                );

                                map.setCenter(location);
                                map.setZoom(17);
                            });
                        }

                        var input = document.getElementById('Service_address');
                        var autocomplete = new google.maps.places.Autocomplete(input);
                        google.maps.event.addListener(map, 'click', function(event) 
                            {
                                $.ajax({
                                    url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + event.latLng.lat() + "," + event.latLng.lng() + "&sensor=false&language=ru",
                                    success     : function(data) {
                                          input.value = (data.results[0].formatted_address);
                                         }
        });
                            });
                        google.maps.event.addListener(autocomplete, 'place_changed', function() {
                        
                            var place = autocomplete.getPlace();
                            if (!place.geometry) {
                                return;
                            }

                            var position = place.geometry.location;
                          {#  document.getElementById('Service_lat').value = position.lat();
                            document.getElementById('Service_lng').value = position.lng();#}

                            if (place.geometry.viewport) {
                                map.fitBounds(place.geometry.viewport);
                            } else {
                                map.setCenter(position);
                                map.setZoom(17);
                            }

                            var marker = new google.maps.Marker({
                                position: position,
                                map: map
                            });

                        });
                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                </div>
              </div>
          
                  <div class="span4">
                      <div id="reklama">
                        <h2>Реклама</h2>
                    </div>
                    <div class="sectionLineReklama"></div>
                    <a href=""><img src="{{ asset('images/reklama1.jpg') }}" height="176" width="331" class="reklama" /></a>
                    <a href=""><img src="{{ asset('images/reklama2.jpg') }}" height="174" width="330" class="reklama" /></a>
                    <a href=""><img src="{{ asset('images/reklama1.jpg')}}" height="176" width="331" class="reklama" /></a>
                    <a href=""><img src="{{ asset('images/reklama2.jpg') }}" height="174" width="330" class="reklama" /></a>
                    <a href=""><img src="{{ asset('images/reklama1.jpg') }}" height="176" width="331" class="reklama" /></a>
                  </div>

         </div>
    </div>
</div>
    
{% endblock %}