{% if is_granted('ROLE_CONSUMER') %}
  <img src="{{ app.user.getUserInfo.getWebPath | imagine_filter('my_master_thumb_small') }}"  />
{% elseif is_granted('ROLE_SPECIALIST') %}
 <a href="{{ path('la_net_la_net_master_id', { 'id' : app.user.userinfo.id }) }}"><img src="{{ app.user.getUserInfo.getWebPath | imagine_filter('my_master_thumb_small') }}"  /></a>
{% elseif is_granted('ROLE_SALON') %}
 <a href="{{ path('la_net_la_net_salon_id', { 'id' : app.user.userinfo.id }) }}"><img src="{{ app.user.getUserInfo.getWebPath | imagine_filter('my_master_thumb_small') }}"  /></a>
{% elseif is_granted('ROLE_AGANCY') %}
 <a href="{{ path('la_net_la_net_agancy_id', { 'id' : app.user.userinfo.id }) }}"><img src="{{ app.user.getUserInfo.getWebPath | imagine_filter('my_master_thumb_small') }}"  /></a>
{% elseif is_granted('ROLE_SHOP') %}
{% elseif is_granted('ROLE_SCHOOL_CENTER') %}
<a href="{{ path('la_net_la_net_school_id', { 'id' : app.user.userinfo.id }) }}"><img src="{{ app.user.getUserInfo.getWebPath | imagine_filter('my_master_thumb_small') }}"  /></a>
{% endif %}
