{% block content %}
    <div class="span4">
                      <aside class="sidebar">
                        <div class="sidebar-section">
                         {% if newsSideBar %}
                            <div class="sidebar-section-title">
                                <h2>Новости В2В</h2>
                            </div>
                            {% endif %}
                            <div class="sidebar-section-content">
                                {% if newsSideBar %}
                                <div class="top-news">
                                     {% for post in newsSideBar %}  
                                    <article class="top-news-item is-horizontal clearfix">
                                        <a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}"><img src="{{ asset(post.getWebPath | imagine_filter('my_main_page_advice'))}}" alt="placeholder"></a>
                                        <div class="top-news-item-text">
                                            <h3 class="item-title"><a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}">{{ post.title }}</a></h3>
                                            <div class="top-news-date">{{ post.updated | date ('d.m.Y')}}</div>
                                        </div>
                                    </article>
                                     {% endfor %}  
                                </div>
                                <div class="see-all-row">
                                    <a href="{{ path('la_net_la_net_news_list') }}" class="read-more">Смотреть всё</a>
                                </div>
                                {% endif %}
                                 {% if bannersSideBar and bannersSideBar[0] is defined %} 
                                <div class="sidebar-ad">
                                    <a href="{{ path('la_net_la_net_banner', {'id': bannersSideBar[0].id})}}"><img src="{{ asset(bannersSideBar[0].getWebPath)}}" alt="{{bannersSideBar[0].name}}" class="reklama"></a>
                                     {#<img src="./Всеукраинский портал индустрии красоты и здоровья_files/ad-place.jpg" alt="placeholder">#}
                                </div>
                                {% endif %}
                            </div>
                         
                            {#<div class="sidebar-section-title">
                                <h2>Ближайшие события</h2>
                            </div>
                            <div class="sidebar-section-content">
                                <div class="top-news">
                                    <article class="top-news-item is-horizontal clearfix">
                                        <a href="#"><img src="./Всеукраинский портал индустрии красоты и здоровья_files/placeholder-04.jpg" alt="placeholder"></a>
                                        <h3 class="item-title"><a href="#">Нптгршышри ргшрмоущпршрмгт гмрогшуцк гомц тмцукме г номуцгпм пмшпгргргищыомпщ рщишршщр гморгырмгомщмрыщпк</a></h3>
                                            <div class="top-news-date">10.09.2017</div>
                                    </article>
                                </div>
                                <div class="see-all-row">
                                    <a href="#" class="read-more">Смотреть всё</a>
                                </div>
                            #}
                                <div class="sidebar-ad">
                            <div class="fb-page" data-href="https://www.facebook.com/LaLook.info" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LaLook.info" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LaLook.info">LaLook Портал индустрии красоты и здоровья</a></blockquote></div>    
                            </div>
                               {% if bannersSideBar and bannersSideBar[1] is defined %} 
                                <div class="sidebar-ad">
                                    <a href="{{ path('la_net_la_net_banner', {'id': bannersSideBar[1].id})}}"><img src="{{ asset(bannersSideBar[1].getWebPath)}}" alt="{{bannersSideBar[1].name}}" class="reklama"></a>
                                    {#<img src="./Всеукраинский портал индустрии красоты и здоровья_files/ad-place.jpg" alt="placeholder">#}
                                </div>
                                {% endif %}
                            {#</div>#}
                             {% if discountsSideBar %} 
                            <div class="sidebar-section-title">
                                <h2>Горячие предложения</h2>
                            </div>
                            {% endif %} 
                            <div class="sidebar-section-content">
                                {% if discountsSideBar %} 
                                <div class="top-news">
                                    
                                   {% for post in discountsSideBar %}  
                                    <article class="top-news-item clearfix">
                                        <a href="{{ path('la_net_la_net_salon_id', { 'id' : post.salon.id } ) }}"><img src="{{ asset(post.getWebPath )}}" alt="placeholder"></a>
                                        <h3 class="item-title"><a href="{{ path('la_net_la_net_salon_id', { 'id' : post.salon.id } ) }}">{{ post.description }}</a></h3>
                                            <div class="top-news-date">{{ post.created | date ('d.m.Y')}}</div>
                                    </article>
                                     {% endfor %}  
                                </div>
                                  {% endif %}
                                 
                                
                                 {% if bannersSideBar  and bannersSideBar[2] is defined %} 
                                <div class="sidebar-ad">
                                     <a href="{{ path('la_net_la_net_banner', {'id': bannersSideBar[2].id})}}"><img src="{{ asset(bannersSideBar[2].getWebPath)}}" alt="{{bannersSideBar[2].name}}" class="reklama"></a>
                                    {#<img src="./Всеукраинский портал индустрии красоты и здоровья_files/ad-place.jpg" alt="placeholder">#}
                                </div>
                                  {% endif %} 
                                 
                            </div>
                               
                                 
                                 {% if advertsSideBar %} 
                            <div class="sidebar-section-title">
                                <h2>Актуальные объявления</h2>
                            </div>
                            <div class="sidebar-section-content">
                                <div class="top-news">
                                    {% for post in advertsSideBar %}  
                                    <article class="top-news-item is-horizontal clearfix">
                                       <a href="{{ path('la_net_la_net_adverts_list' ) }}"><img src="{{ asset(post.getWebPath | imagine_filter('my_main_page_advice') )}}" alt="placeholder"></a>
                                        <h3 class="item-title"><a href="{{ path('la_net_la_net_adverts_list' ) }}">{{ post.title }}</a></h3>
                                            <div class="top-news-date">{{ post.created | date ('d.m.Y')}}</div>
                                    </article>
                                    {% endfor %}        
                                 </div>
                                 
                                <div class="see-all-row">
                                    <a href="{{ path('la_net_la_net_adverts_list') }}" class="read-more">Смотреть всё</a>
                                </div>
                            </div>
                                {% endif %} 
                        </div>
                      </aside>



                                      </div>
{% endblock %}