{% block content %}
    <div class="span4">
                      <aside class="sidebar">
                        <div class="sidebar-section">
                         {% if newsSideBar %}
                            <div class="sidebar-section-title">
                                <h2><a href="{{ path('la_net_la_net_news_list') }}">Новости В2В</a></h2>
                            </div>
                            {% endif %}
                            <div class="sidebar-section-content">
                                {% if newsSideBar %}
                                <div class="top-news">
                                     {% for post in newsSideBar %}  
                                    <article class="top-news-item is-horizontal clearfix">
                                        <a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}"><img src="{{ asset(post.getWebPath | imagine_filter('my_main_page_advice'))}}" alt="placeholder"></a>
                                        <div class="top-news-item-text">
                                            <h3 class="item-title"><a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}">{{ post.title | length > 57 ? post.title|slice(0, 57) ~ '...' : post.title}}</a></h3>
                                            <div class="top-news-date">{{ post.updated | date ('d.m.Y')}}</div>
                                        </div>
                                    </article>
                                     {% endfor %}  
                                </div>
                                <div class="see-all-row">
                                    <a href="{{ path('la_net_la_net_news_list') }}" class="read-more">Смотреть всё</a>
                                </div>
                                {% endif %}
                                
                               
                                 {% if bannersSideBar and bannersSideBar.1 is defined %}
                                   <div id="banners-group-1">
                                    {% for banner in bannersSideBar.1 %}  
                                    <div class="sidebar-ad" banner-index="{{loop.index}}" {% if not loop.first %} style="display:none;" {% endif %}>
                                        <a href="{{ path('la_net_la_net_banner', {'id': banner.id})}}"><img src="{{ asset(banner.getWebPath)}}" alt="{{banner.name}}" class="reklama"></a>
                                    </div>
                                    {% endfor %}
                                 </div>
                                {% endif %}
                               
                            </div>
                         
                            {% if EventsSideBar and EventsSideBar[0] is defined %}    
                            <div class="sidebar-section-title">
                                <h2><a href="{{ path('la_net_la_net_upcoming_events_list') }}">Ближайшие события</a></h2>
                            </div>
                             {% endif %}
                            <div class="sidebar-section-content">
                                 {% if EventsSideBar is defined %}  
                                <div class="top-news">
                                    
                                    {% for event in EventsSideBar %} 
                                    <article class="top-news-item is-horizontal clearfix">
                                        <a href="{{ path('la_net_la_net_upcoming_events_id', {'slug': event.slug})}}"><img src="{{ asset(event.getWebPath)}}" alt="placeholder"></a>
                                        <h3 class="item-title"><a href="{{ path('la_net_la_net_upcoming_events_id', {'slug': event.slug})}}">{{ event.title}}</a></h3>
                                            <div class="top-news-date">{{ event.created | date ('d.m.Y')}}</div>
                                    </article>
                                     {% endfor %}
                                </div>
                                <div class="see-all-row">
                                    <a href="{{ path('la_net_la_net_upcoming_events_list') }}" class="read-more">Смотреть всё</a>
                                </div>
                               {% endif %}                             
                                <div class="sidebar-ad">
                            <div class="fb-page" data-href="https://www.facebook.com/LaLook.info" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LaLook.info" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LaLook.info">LaLook Портал индустрии красоты и здоровья</a></blockquote></div>    
                            </div>
                             {% if bannersSideBar and bannersSideBar.2 is defined %}
                                   <div id="banners-group-2">
                                    {% for banner in bannersSideBar.2 %}  
                                    <div class="sidebar-ad" banner-index="{{loop.index}}" {% if not loop.first %} style="display:none;" {% endif %}>
                                        <a href="{{ path('la_net_la_net_banner', {'id': banner.id})}}"><img src="{{ asset(banner.getWebPath)}}" alt="{{banner.name}}" class="reklama"></a>
                                    </div>
                                    {% endfor %}
                                 </div>
                                {% endif %}
                            </div>
                             {% if discountsSideBar %} 
                            <div class="sidebar-section-title">
                                <h2>Горячие предложения</h2>
                            </div>
                            {% endif %} 
                            <div class="sidebar-section-content">
                                {% if discountsSideBar %} 
                                <div class="top-news">
                                    <div id="discount-container">
                                   {% for post in discountsSideBar %}  
                                    <article discount-index="{{loop.index}}" {% if not loop.first %} style="display:none;" {% endif %} class="top-news-item clearfix">
                                        <a href="{{ path('la_net_la_net_salon_id', { 'id' : post.salon.id } ) }}"><img src="{{ asset(post.getWebPath )}}" alt="placeholder"></a>
                                        <h3 class="item-title"><a href="{{ path('la_net_la_net_salon_id', { 'id' : post.salon.id } ) }}">{{ post.description }}</a></h3>
                                              {% if (post.salon.location and post.salon.location.locality) %}
                                                <div class="top-news-date">{{ post.salon.location.locality }}{#{{ salon.location.administrativearea }}#}</div>
                                              {% endif %}
                                           <div class="top-news-date">{% if (post.startDate or post.endDate) %}Действует{% endif %}{% if post.startDate %} с {{ post.startDate }}{% if post.endDate %} по {{ post.endDate}}{% endif%}{% else %}{% if post.endDate %} по {{ post.endDate}}{% endif%}{% endif%} </div>
                                    </article>
                                     {% endfor %}  
                                </div>
                                </div>
                                  {% endif %}
                                 
                                
                                {% if bannersSideBar and bannersSideBar.3 is defined %}
                                   <div id="banners-group-3">
                                    {% for banner in bannersSideBar.3 %}  
                                    <div class="sidebar-ad" banner-index="{{loop.index}}" {% if not loop.first %} style="display:none;" {% endif %}>
                                        <a href="{{ path('la_net_la_net_banner', {'id': banner.id})}}"><img src="{{ asset(banner.getWebPath)}}" alt="{{banner.name}}" class="reklama"></a>
                                    </div>
                                    {% endfor %}
                                 </div>
                                {% endif %}
                                 
                            </div>
                               
                                 
                                 {% if advertsSideBar %} 
                            <div class="sidebar-section-title">
                                <h2><a href="{{ path('la_net_la_net_adverts_list') }}">Актуальные объявления</a></h2>
                            </div>
                            <div class="sidebar-section-content">
                                <div class="top-news">
                                    {% for post in advertsSideBar %}  
                                    <article class="top-news-item is-horizontal clearfix">
                                       <a href="{{ path('la_net_la_net_adverts_list' ) }}"><img src="{{ asset(post.getWebPath | imagine_filter('my_main_page_advice') )}}" alt="placeholder"></a>
                                        <h3 class="item-title"><a href="{{ path('la_net_la_net_adverts_list' ) }}">{{ post.title }}</a></h3>
                                            <div class="top-news-date">{{ post.created | date ('d.m.Y')}}</div>
                                    </article>
                                    {% endfor %}        
                                 </div>
                                 
                                <div class="see-all-row">
                                    <a href="{{ path('la_net_la_net_adverts_list') }}" class="read-more">Смотреть всё</a>
                                </div>
                            </div>
                                {% endif %} 
                        </div>
                      </aside>



                                      </div>
{% endblock %}