<!DOCTYPE html>

<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113260141-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113260141-1');
</script>
        <meta charset="utf-8"/>
        <meta name="description" content="Портал индустрии красоты и здоровья"/>
        <title>{% block title %}Lalook{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}">
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Comfortaa" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/slick.min.js') }}"></script>
            
{#            <link href="http://allfont.ru/css/?fonts=comfortaa-bold" rel="stylesheet" type="text/css" />#}
            <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom_styles.css') }}">
            {#      <link rel="stylesheet" href="{{ asset('css/main.css') }}">#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js')}}"></script>
            <script src="{{ asset('js/toastr/toastr.js')}}"></script>
            <link rel="stylesheet" href="{{ asset('js/toastr/toastr.css')}}" >
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>



        {% endblock %}
    </head>
    <body>
        <div style="min-height: 100%; margin-bottom: -200px;height:auto ! important;height:100%;">
            <header>

                <div id="header-row" class="container">
                    <div class="wrapper row-fluid">
                        <div class="span3">
                            <div id="logo"><a href="#"><img src="{{ asset('images/logo2.png') }}" height="72" width="192"></a></div>
                        </div>
                        <div class="span5">
                            {#<form action="{{ path('la_net_lanet_set_regions') }}" method="POST" id="form-regions">
                                {{ render(controller('LaNetLaNetBundle:Location:getRegions')) }}
                            </form>#}
                        </div>
                        {#<div class="span4">
                            <div id="login">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if not is_granted('ROLE_ADMIN') %}
                                        <div style="float:left;margin: 5px;"> {% include "LaNetLaNetBundle::profileImage.html.twig" %}</div>
                                    {% endif %}
                                    <div style="float:left;margin: 5px;"> 
                                        {% if not is_granted('ROLE_ADMIN') %}
                                            <p style="color:#fff;">{% include "LaNetLaNetBundle::profileName.html.twig" %}</p>   
                                            <p id="edit"><a href="{% include "LaNetLaNetBundle::profileLink.html.twig" %}">Редактировать</a></p>
                                        {% endif %}
                                        <p id="sing_out"><a href="{{ path('fos_user_security_logout') }}">Выйти</a></p>
                                    </div>
                                {% else  %}
                                    <a href="{{ path('fos_user_security_login') }}" id="enter">Войти</a>
                                    <div id="line2"></div>
                                    <a href="{{ path('fos_user_registration_register') }}" id="reg">Регистрация</a>
                                {% endif %}
                                 </div>
                                 <div>
                                 <ul class="social-links">
                                <li class="mail">
                                    <a href="#" id="notifications-modal-btn" data-toggle="modal" data-target="#myModal">
                                        <i class="icon icon-mail"></i>
                                        <span>Подписаться на новости</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/groups/LaLook/">
                                        <i class="icon icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon icon-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                            </div>
                            <div  id="form2">
                                 <form action="http://lalook.net/formdata.php" method="POST" name="form">
                                   <input type="text" name="search" placeholder="Поиск" id="search">
                                   <input type="submit" name="submit" value="" id="submit">
                                 </form>
                            </div>
                        </div>#}
                    </div>
                </div>   
                   
                            
                            
                {#<nav>
                    <div class="container">
                        <ul>
                          <li><a href="{{ path('la_net_la_net_homepage') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_homepage' %} class="active"{% endif %}>Главная</a></li> 
                          <li><a href="{{ path('la_net_la_net_club_main') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' or app.request.attributes.get('_route') == 'la_net_la_net_salon_list' or app.request.attributes.get('_route') == 'la_net_la_net_club_main'  %} class="active"{% endif %}>Клуб профессионалов</a></li> 
                          {#<li><a href="{{ path('la_net_la_net_news_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_news_list' %} class="active"{% endif %}>Новости</a></li>#}  
                          {#<li><a id="drop_custom" href="{{ path('la_net_la_net_master_list') }}" data-toggle="dropdown" >Бренд-инфо</a>
                                <div id="main_custom" style="display:none;" class="sub_menu"> 
                                    <ul>                     
                                         {{ render(controller('LaNetLaNetBundle:Menu:getMasterCategory')) }}
                                    </ul>   
                                </div> 
                            </li> #}       
                            {# <li class="dropdown"><a href="{{ path('la_net_la_net_master_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' or app.request.attributes.get('_route') == 'la_net_la_net_salon_list'%} class="active"{% endif %} data-toggle="dropdown" >Клуб профессионалов</a>
                                <ul class="dropdown-menu pull-rigth">
                                    <li><a href="{{ path('la_net_la_net_master_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' %} class="active"{% endif %}>Поиск мастера</a></li>
                                    <li><a href="{{ path('la_net_la_net_salon_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_salon_list' %} class="active"{% endif %}>Поиск салона</a></li>
                                </ul>
                            </li>#}
                            
                            {#<li><a href="{{ path('la_net_la_net_trusts_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_trusts_list' %} class="active"{% endif %}>Им доверяют</a></li>
                            <li><a href="{{ path('la_net_la_net_brands_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_brands_list' %} class="active"{% endif %}>Бренд инфо</a></li>
                            {#<li><a href="{{ path('la_net_la_net_advices_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_advices_list' %} class="active"{% endif %}>Советы красоты</a></li>
                            <li><a href="{{ path('la_net_la_net_adverts_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_adverts_list' %} class="active"{% endif %}>Объявления</a></li>
                            <li><a href="{{ path('la_net_la_net_events_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_events_list' %} class="active"{% endif %}>Lalook инфо</a></li>
                            
                            {#<li><a href="{{ path('la_net_la_net_brands_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_brands_list' %} class="active"{% endif %}>Бренды</a></li>

                            {#<li><a href="{{ path('la_net_la_net_agancy_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_list' %} class="active"{% endif %}>Представительства</a></li>
                                {# <li class="dropdown"><a href="{{ path('la_net_la_net_product_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_product_list' %} class="active" {% endif %} data-toggle="dropdown" >Каталог товаров</a>
                                    <ul class="dropdown-menu pull-rigth">
                                        {{ render(controller('LaNetLaNetBundle:Product:getBrand')) }}  
                                    </ul>
                                </li>
                                             <li><a href="{{ path('la_net_la_net_product_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_product_list' %} class="active"{% endif %}>Косметика</a></li>
                                                <li><a href="">Магазаны</a></li>
                                                <li><a href="">Обучение</a></li>
                                                <li><a href="">Литератур</a></li>
                                                <li><a href="">Форум</a></li>
                            <li><a href="{{ path('la_net_la_net_contact') }}" {% if app.request.attributes.get('_route') == 'la_net_la_net_contact' %} class="active" {% endif %}>Контакты</a></li>
                             <li><a href="{{ path('la_net_la_net_about') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_about' %} class="active"{% endif %}>О портале</a></li>
                        </ul>
                    </div>
                </nav>#}
                <div id="line"></div>
            </header>
{% block body %}
<div align="center" style="padding:50px;">
 <h4>Извините ведуться технические работы</h4>
</div>
{% endblock %}

<div class="clear-bottom"></div>
 </div>
    <footer>
        <div class="footerLine"></div>
        <div class="container">  
            {#<nav>
                <ul>
                    <li><a href="{{ path('la_net_la_net_homepage') }}">Главная</a></li>
                    {#<li><a href="{{ path('la_net_la_net_news_list') }}">Новости</a></li>
                    <li><a href="{{ path('la_net_la_net_club_main') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' or app.request.attributes.get('_route') == 'la_net_la_net_salon_list' or app.request.attributes.get('_route') == 'la_net_la_net_club_main'  %} class="active"{% endif %}>Клуб профессионалов</a></li> 
                    <li><a href="{{ path('la_net_la_net_brands_list') }}">Бренд инфо</a></li>
                    <li><a href="{{ path('la_net_la_net_adverts_list') }}">Объявления</a></li>
                    <li><a href="{{ path('la_net_la_net_events_list') }}">Lalook инфо</a></li>
                    {#<li><a href="{{ path('la_net_la_net_agancy_list') }}">Представительства</a></li>
                        {# <li><a href="">Косметика</a></li>
                         <li><a href="">Магазаны</a></li>
                         <li><a href="">Обучение</a></li>
                         <li><a href="">Литератур</a></li>
                         <li><a href="">Форум</a></li>
                    <li><a href="{{ path('la_net_la_net_contact') }}">Контакты</a></li>
                    {#<li><a href="{{ path('la_net_la_net_about') }}">О портале</a></li>
                </ul>
            </nav>#}
            {#<div class="social">
            <ul class="soc_group">
                <li id="f"><a href="" ><img src="{{ asset('images/f.png') }}" height="20" width="10"/></a></li>
                <li id="in"><a href="" ><img src="{{ asset('images/in.png') }}" height="19" width="21"/></a></li>
                <li id="tw"><a href="" ><img src="{{ asset('images/tw.png') }}" height="16" width="18"/></a></li>
                <li id="vk"><a href="" ><img src="{{ asset('images/vk.png') }}" height="17" width="28"/></a></li>
            </ul>
            </div>#}
            <p>© 2013-2018 lalook.net. Все права защищены. При полном или частичном использовании материалов портала, гиперссылка http://lalook.net на ресурс обязательна. Администрация может не разделять точку зрения авторов материалов и не несет ответственности за размещаемую пользователями информацию.
                <br />E-mail: lalooknet@gmail.com</p>

                    </div>
    </footer>
</body>   
</html>
