{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
{% endblock %}  

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
{% endblock %}
      
{% block content %}
<div class="master-id">
  <div class="row">
    <div class="col col_1_of_4"><img src="{{ master.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></div>
    <div class="col col_3_of_4">
        <h2>{{ master.firstname }} {{ master.lastname }}</h2>
        <div class="section">Основная информация</div>
        <div class="row">
          <div class="col col_1_of_3">Специальность:</div>
          <div class="col col_2_of_3">{% for item in master.category %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
        </div>
        <div class="row">
          <div class="col col_1_of_3">Город:</div>
          <div class="col col_2_of_3">{{ master.location.city.name }} {{ master.location.region.name }}</div>
        </div>
        {% if master.user.showPhone  %}
          <div class="row">
            <div class="col col_1_of_3">Телефон:</div>
            <div class="col col_2_of_3">{% for item in master.user.phone %}<p>{{ item.name }}</p>{% endfor %}</div>
          </div>
        {% endif %}
        {% if master.user.showMail  %}
          <div class="row">
            <div class="col col_1_of_3">Email:</div>
            <div class="col col_2_of_3">{{ master.user.email }}</div>
          </div>
        {% endif %}
    </div>
  </div>
  <div class="clear section">Работа</div>
  <div class="row">
    <div class="col col_1_of_3">Тип обслуживания:</div>
    <div class="col col_2_of_3">{% for item in master.serviceType %}
                                  {% if item == 'salon' %}
                                    Салон
                                  {% elseif item == 'salon-home' %}
                                    Салон/выезд на дом
                                  {% elseif item == 'home' %}
                                    Дом
                                  {% elseif item == 'consult' %}
                                    Консультации
                                  {% endif %}
                               {% if not loop.last %}, {% endif %}
                            {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col col_1_of_3">Косметика:</div>
    <div class="col col_2_of_3">{{ master.usedCosmetics }}</div>
  </div>
  <div class="row">
    <div class="col col_1_of_3">Место работы:</div>
    <div class="col col_2_of_3">
      <p>{{ master.location.city.name }}, {{ master.location.region.name }}</p>
      <p>{{ master.location.station }}</p>
      <p>{{ master.location.street }}, {{ master.location.building }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col col_1_of_3">Место работы:</div>
    <div class="col col_2_of_3">{% for item in master.schedule %}<p>{{ item.shcedule.nameRus }}{% if item.shcedule.name != 'record' %} {{ item.StartTime }} - {{ item.endTime }} {% endif %}</p>{% endfor %}</div>
  </div> 
  <div class="row">
    <div class="col col_1_of_3">Услуги и цены:</div>
    <div class="col col_2_of_3">{% for item in master.services %}<p>{{ item.name }}: {{ item.startPrice }} - {{ item.endPrice }}</p>{% endfor %}</div>
  </div> 
  
  <div class="clear section">О себе</div>
  <div class="row">
    <div class="col col_1_of_3">Образование:</div>
    <div class="col col_2_of_3">{{ master.education }}</div>
  </div> 
  <div class="row">
    <div class="col col_1_of_3">Конкурсы и мероприятия:</div>
    <div class="col col_2_of_3">{{ master.competitions }}</div>
  </div>
  <div class="row">
    <div class="col col_1_of_3">Хобби:</div>
    <div class="col col_2_of_3">{{ master.hobby }}</div>
  </div>
  <div class="clear section">Портфолио:</div>
  <div class="gallery row">
      {% for image in master.portfolio%}
        <div class="col col_1_of_6">
          <a href="{{ asset(image.getWebPath) }}" rel="group1" class="fancybox" title="{{ image.description }}"><img src="{{ image.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></a>
        </div>
      {% endfor %}
  </div>
</div>
  <script>
    $(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
  </script>
{% endblock %}