{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
   {% endblock %}      

{% block content %}
<a href="{{ path('la_net_la_net_master_list') }}" class="tabs active">Поиск мастера</a><a href="{{ path('la_net_la_net_salon_list') }}" class="tabs">Поиск салона</a>
<hr style="margin:7px 0 20px 0;" class="clear" />
<div><form action=""><input placeholder="Найдите мастера по имени" style="margin-bottom:0;width:80%;" type="text" name="name" {% if app.request.query.get('name') %}value="{{ app.request.query.get('name') }}"{% endif %}><input style="margin-left:10px;" type="submit" value="Найти"></form></div>
<div> <div style="margin:10px 0 ;">{{ "Подбор мастера согласно вашим критериям:" | upper }}</div><form action="">
        <select name="category" class="half">
          <option value="0">Выберите специальность</option>
          {% for item in masterCategory %}
            <option value="{{ item.id }}" {% if app.request.query.get('category') == item.id  %} selected="selected"{% endif %}>{{ item.name }}</option>
          {% endfor %}
        </select>
        <select name="service-type"  class="half">
          <option value="0">Тип обслуживания</option>
            <option value="home" {% if app.request.query.get('service-type') == 'home' %} selected="selected"{% endif %}>На дому</option>
            <option value="salon" {% if app.request.query.get('service-type') == 'salon' %} selected="selected"{% endif %}>В салоне</option>
            <option value="salon-home" {% if app.request.query.get('service-type') == 'salon-home' %} selected="selected"{% endif %}>Выезд на дом</option>
        </select>
        {% if cities | length %}
            <select name="city"  class="half">
              <option value="0">Выберите город</option>
              {% for item in cities %}
                  <option value="{{ item['locality'] }}" {% if app.request.query.get('city') ==  item['locality']  %} selected="selected"{% endif %}>{{ item['locality'] }}</option>
              {% endfor %}
            </select>
        {% endif %}
        <div><input type="submit" value="Фильтровать"></div>
      </form>
</div>

<h2 style="float:left;margin-right: 10px;">Карта</h2><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
<div id="map" style="width:100%; height:250px;"></div>
<div style="padding-bottom: 20px;"></div>


 
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    var map;
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var map_options = {
                            center: new google.maps.LatLng(49.99, 36.230),
                            zoom: 6
                        };
                        map = new google.maps.Map(map_canvas, map_options);

                    }  
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>


      <section class="holder">
                    <div class="row-fluid">
                        <div class="span7">
                         
                            <div class="masters">
      
      {% for master in masters %}
      {% if master.location is not empty and master.location.lat is not empty and master.location.lang is not empty %}
      <script type="text/javascript">
          google.maps.event.addDomListener(window, 'load', function() {
              var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ master.location.lat }}, {{ master.location.lang }}),
                map: map,
                title:"{{ master.firstName }} {{ master.firstName }}" 
            });
          });
          
              </script>
      {% endif %}
    
      <hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
              
                            
                                <div class="masters-item clearfix">
                                    <div class="masters-item-img">
                                        <img src="{{ asset(master.getWebPath)}}" />
                                    </div>
                                    <div class="masters-item-info">
                                       <h3 class="masters-item-title {% if master.inTop != NULL%} starred {% endif%}">{{ master.firstName }} {{ master.lastName }}</h3>
                                            {% if master.category is not empty %}
                                                <div class="masters-item-profession">{% for item in master.category %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                                            {% endif %}
                                        <a href="{{ path('la_net_la_net_master_id', {'id': master.id })}}" class="read-more">Читать полностью...</a>
                                    </div>
                                </div>
                           
                       
                  
            
{% else %}
  Мастеров нет
{% endfor %}
  </div>  
                    </div>
                        </div>
                </section>
  
  
  
  
  <div class="row clear pagination">
  {{ knp_pagination_render(masters) }}
  </div>
  
  
  
  
  
  
{% endblock %}