{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
     {% endblock %}  

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="{{ asset('js/raty-2.8.0/lib/jquery.raty.js') }}"></script>
  
  <meta property="fb:app_id" content="1540865079331046" />
  <meta property="fb:admins" content="100022331712615"/>
  <meta property="og:url" content="http://lalook.net/lalook/web/app_dev.php/master/105/">
<meta property="og:title" content="Replace with Page Title" />
<meta property="og:type" content="Website" />
<meta property="og:description" content="Add Some description" />
<meta property="og:image" content="http://lalook.net/lalook/web/images/logo2.png" />
  
  
{% endblock %}
      
{% block content %}
<div class="master-id">
  {#  {{ app.request.cookies.get('myCookie') }}#}
    
  <div class="row">
    <div class="col col_1_of_3">
        <a href="{{ asset(master.getWebPath) }}" rel="group-profile-image" class="fancybox" title="{{ master.firstname | upper }} {{ master.lastname | upper }}"><img src="{{ master.getWebPath | imagine_filter('my_master_thumb_large') }}" /></a>
    
        <div id="rating-block">
            <div class="solid-stars" data-id="{{master.id}}" data-votes="{{master.getUser.getVotes}}" data-score="{{master.getUser.getRating}}"></div>
                <div id="avg-rating">Средний рейтинг: {% if master.getUser.getRating %} {{master.getUser.getRating}}{% else %} 0{% endif %}</div>
                <div id="votes">Голосов:{% if master.getUser.getVotes %}{{master.getUser.getVotes}}{% else %} 0{% endif %}</div>
        </div>  
        
    </div>
    <div class="col col_2_of_3">
        <h2 style="color:#578fac;">{{ master.firstname | upper }} {{ master.lastname | upper }}</h2>
        <h5 style="float:left;margin-right: 10px; color:#c2d9b1;">{{ "Основная информация:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
        {% if master.category is not empty %} 
            <div class="row">
              <div class="col col_1_of_3 blue">специальность:</div>
              <div class="col col_2_of_3">{% for item in master.category %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            </div>
        {% endif %}
        {% if (master.location and master.location.locality) %}
            <div class="row">
              <div class="col col_1_of_3 blue">город:</div>
              <div class="col col_2_of_3">{{ master.location.locality }} {{ master.location.administrativearea }}</div>
            </div>
        {% endif %}
        {% if master.user.hasPhones %}
          <div class="row">
            <div class="col col_1_of_3 blue">телефон:</div>
            <div class="col col_2_of_3">
                {% for item in master.user.phone %}
                    {% if item.showPhone  %}
                        <p>+38 ({{ item.operator }}) - {{ item.number }}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if master.user.hasMails %}
          <div class="row">
            <div class="col col_1_of_3 blue">email:</div>
          <div class="col col_2_of_3">
{#  {{ master.user.email }}#}
            {% for item in master.user.mail %}
                {% if item.showMail  %}
                    <p>{{ item.name }}</p>
                {% endif %}
            {% endfor %}
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  {% if (master.location and master.location.lat) %}
  <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">{{ "Работа:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
  <div id="map" style="width:100%;height:150px; margin-bottom: 20px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var myLatlng = new google.maps.LatLng(
                                   {{ master.location.lat }},
                                   {{ master.location.lang }});
                        var map_options = {
                            center:myLatlng,
                            zoom: 17
                        };
                        var map = new google.maps.Map(map_canvas, map_options);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map
                        });
                        
                    }
                    
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
  {% endif %}
  {% if master.serviceType %}
  <div class="row">
    <div class="col col_1_of_3 blue">тип обслуживания:</div>
    <div class="col col_2_of_3">{% for item in master.serviceType %}
                                  {% if item == 'salon' %}
                                    В салоне
                                  {% elseif item == 'salon-home' %}
                                    Выезд на дом к клиенту
                                  {% elseif item == 'home' %}
                                    На дому
                                  {% endif %}
                               {% if not loop.last %}, {% endif %}
                            {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if master.usedCosmetics %}
    <div class="row clear">
      <div class="col col_1_of_3 blue">косметика:</div>
      <div class="col col_2_of_3">{{ master.usedCosmetics }}</div>
    </div>
  {% endif %}
  {% if (master.location and master.location.locality) %}          
    <div class="row clear">
      <div class="col col_1_of_3 blue">место работы:</div>
      <div class="col col_2_of_3">{{ master.location.locality }}, {{ master.location.sublocality }}, {{ master.location.route }} {{ master.location.streetNumber }}</div>
    </div>
  {% endif %}
  {% if master.schedule is not empty %}              
    <div class="row clear">
      <div class="col col_1_of_3 blue">график работы:</div>
      <div class="col col_2_of_3">{% for item in master.schedule %}<p>{{ item.shcedule.nameRus }}{% if item.shcedule.name != 'record' %} {{ item.StartTime }} - {{ item.endTime }} {% endif %}</p>{% endfor %}</div>
    </div> 
  {% endif %}
  {% if master.services is not empty %}              
    <div class="row clear">
      <div class="col col_1_of_3 blue">услуги и цены:</div>
      <div class="col col_2_of_3">{% for item in master.services %}<p>{{ item.name }}{% if item.startPrice is not empty %} :  {{ item.startPrice }} {% endif %} {% if item.endPrice is not empty %} - {{ item.endPrice }}{% endif %} {% if item.startPrice is not empty %} грн {% endif %}</p>{% endfor %}</div>
    </div> 
  {% endif %}
{% if master.competitions or master.education or master.hobby %}
<h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">{{ "О себе:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
{% endif %}
{% if master.education %}
  <div class="row clear">
    <div class="col col_1_of_3 blue">образование:</div>
    <div class="col col_2_of_3">{{ master.education }}</div>
  </div> 
{% endif %}
{% if master.competitions %}
  <div class="row clear">
    <div class="col col_1_of_3 blue">конкурсы и мероприятия:</div>
    <div class="col col_2_of_3">{{ master.competitions }}</div>
  </div>
{% endif %}
{% if master.hobby %}
  <div class="row clear">
    <div class="col col_1_of_3 blue">хобби:</div>
    <div class="col col_2_of_3">{{ master.hobby }}</div>
  </div>
{% endif %}
  {% if master.portfolio is not empty %}
    <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">{{ "Портфолио:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
    <div class="gallery-portfolio">
        <div class="row clear">
        {% for image in master.portfolio%}
          
          <div class="col col_1_of_5">
            <a href="{{ asset(image.getWebPath | imagine_filter('my_thumb_portfolio_large')) }}" rel="group1" class="fancybox" title="{{ image.description }}"><img src="{{ image.getWebPath | imagine_filter('my_thumb_portfolio') }}" /></a>
          </div>
          {% if loop.index % 5 == 0 %}
             </div><div class="row clear">
          {% endif %}
        {% endfor %}
        </div>
    </div>
  {% endif %}
</div>
  


 




  <script>
   /* $(document).ready(function() {
      
    
   $('.solid-stars').raty({ 
     path: "{{ asset('images/') }}",
     score: function() {
              return $(this).data('score');
      },
              
      click: function(score,data){
        var id = $(this).data('id');
        $.post(
        '{{ path('la_net_la_net_ajax_menu_rating')}}',
        {rating:score, id:id}, function(data){ 
           
        }; 
       );
                    
    };
});
});
*/
/*  
  
  $('div').raty({
  click: function(score, evt) {
    alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
  }
});
  */
  
  
   $('.solid-stars').raty({
       path: "{{ asset('images/') }}",
       //readOnly: true,
       half : true,
    score: function() {
              return $(this).data('score');
      },
      click: function(score,data){
        var id = $(this).data('id');
        var votes = $(this).data('votes');
         $.post("{{ path('la_net_la_net_ajax_menu_rating')}}", {rating:score, votes:votes, id:id}, function(result){
        var data = result;
        $('#avg-rating').html("Средний рейтинг: " +data.score+"");
        $('#votes').html("Голосов: " +data.votes+"");
        
        
    });
      }    
       
});





   
   
   
   
   
  </script>
  
  
  
 {# <div class="fb-comments" data-href="{{ path('la_net_la_net_master_id', {'id': master.id })}}" data-numposts="5"></div>#}
  <div class="fb-comments" data-width="100%" data-order-by="reverse_time" data-href="http://localhost/vhost/lalook/web/app_dev.php/master/{{master.id}}/" data-numposts="5"></div>
    
{% endblock %}