<li><a href="{{ path('la_net_la_net_master_profile') }}">Основная информация</a></li>
<li><a href="{{ path('la_net_la_net_master_profile_work') }}">График работы</a></li>
<li><a href="{{ path('la_net_la_net_master_profile_portfolio') }}">Потрфолио</a></li>
<li><a href="{{ path('la_net_la_net_master_profile_service_price') }}">Услуги и цены</a></li>
<li><a href="{{ path('la_net_la_net_master_change_pass') }}">Сменить пароль</a></li>