{% extends "LaNetLaNetBundle::layoutProfile.html.twig" %}
{% form_theme form 'LaNetLaNetBundle:Form:fields_profile.html.twig' %}


{% macro phone_prototype(phone) %}
    <div>{{ form_widget(phone.showPhone) }}{{ form_label(phone.showPhone) }}</div>
    <div>{{ form_widget(phone.number) }}</div> 
{% endmacro %}

{% macro mail_prototype(mail) %}
    <div>{{ form_widget(mail.showMail) }}{{ form_label(mail.showMail) }}</div>
    <div>{{ form_widget(mail.name) }}</div>
{% endmacro %}



        
{% block menu %}
  {% include "LaNetLaNetBundle:Master:menu.html.twig" %}
{% endblock %}
        
      
{% block profile_content %}

   <h1>Основная информация</h1>

<form action="" {{ form_enctype(form) }} method="POST" name="{{ form.vars.name }}">
        <div class="row errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col col_1_of_2">{{ form_widget(form.userInfo.file) }}</div>
            <div class="col col_1_of_2">
                <div class="row">
                    <div class="col col_1_of_1">
                        {{ form_widget(form.userInfo.firstName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col_1_of_1">
                        {{ form_widget(form.userInfo.lastName) }}
                    </div>
                </div>
                 <div class="row">
                    <div class="col col_1_of_1">
                        {% if valid is defined %} Валидация: {% if valid == '1' %}Да{% else %}Нет{% endif %}{% endif %}
                    </div>
                </div>
               <div class="row">
                    <div class="col col_1_of_3">{{ form_row(form.userInfo.gender) }}</div>
                    <div class="col col_2_of_3">{{ form_row(form.userInfo.birthday) }}</div>
                </div>
                <hr />
            </div>
        </div>
        {{ form_row(form.userInfo.link) }}
       
        <hr />
        {{ form_row(form.userInfo.serviceType) }}
        
        <div id="salonName">
        {{ form_row(form.userInfo.salonName) }}
        </div>
        
        
        <hr />
        {{ form_row(form.userInfo.category) }}
        <hr />
        <div class="row">
            <div class="col col_1_of_1">
                <label>Место работы:</label>
                <input type="text" id="Service_address" style="width:100%;"/>
                <div id="map" style="width:100%;height:150px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var myLatlng = new google.maps.LatLng(
                                    $('#lanet_master_profile_userInfo_location_lat').val(),
                                    $('#lanet_master_profile_userInfo_location_lang').val());
                        var map_options = {
                            center:myLatlng,
                            zoom: 17
                        };
                        var map = new google.maps.Map(map_canvas, map_options);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map,
                            title:"Hello World!" 
                        });
                        $.ajax({
                            url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + $('#lanet_master_profile_userInfo_location_lat').val() + "," +  $('#lanet_master_profile_userInfo_location_lang').val() + "&sensor=false&language=ru",
                            success     : function(data) {
                                   input.value = (data.results[0].formatted_address);
                                 }});

                        var input = document.getElementById('Service_address');
                        var autocomplete = new google.maps.places.Autocomplete(input);
                        google.maps.event.addListener(map, 'click', function(event) 
                            {
                                $.ajax({
                                    url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + event.latLng.lat() + "," + event.latLng.lng() + "&sensor=false&language=ru",
                                    success     : function(data) {
                                          fill_address(data);    
                                          $('#lanet_master_profile_userInfo_location_lang').val(event.latLng.lng());
                                          $('#lanet_master_profile_userInfo_location_lat').val(event.latLng.lat());
                                          input.value = (data.results[0].formatted_address);
                                         }
                                });
                            });
                        google.maps.event.addListener(autocomplete, 'place_changed', function() {
                        
                            var place = autocomplete.getPlace();
                            if (!place.geometry) {
                                return;
                            }

                            var position = place.geometry.location;
                                        
                            $.ajax({
                                url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.lat() + "," + position.lng() + "&sensor=false&language=ru",
                                success     : function(data) {
                                        
                                       fill_address(data);               
                                       $('#lanet_master_profile_userInfo_location_lang').val(position.lng());
                                       $('#lanet_master_profile_userInfo_location_lat').val(position.lat());
                                       input.value = (data.results[0].formatted_address);
                                     }});
                            if (place.geometry.viewport) {
                                map.fitBounds(place.geometry.viewport);
                            } else {
                                map.setCenter(position);
                                map.setZoom(17);
                            }

                            var marker = new google.maps.Marker({
                                position: position,
                                map: map
                            });

                        });
                    }
                    function fill_address(data) {
                        for (var i = 0; i < data.results[0].address_components.length; i++) {
                            switch(data.results[0].address_components[i].types[0]) {
                                case "country":
                                    $('#lanet_master_profile_userInfo_location_country').val(data.results[0].address_components[i].long_name);
                                    break;
                                case "administrative_area_level_1":
                                    $('#lanet_master_profile_userInfo_location_administrative_area').val(data.results[0].address_components[i].long_name);
                                    break;
                                case "locality":
                                    $('#lanet_master_profile_userInfo_location_locality').val(data.results[0].address_components[i].long_name);
                                    break;
                                case "sublocality_level_1":
                                    $('#lanet_master_profile_userInfo_location_sublocality').val(data.results[0].address_components[i].long_name);
                                    break;
                                case "route":
                                    $('#lanet_master_profile_userInfo_location_route').val(data.results[0].address_components[i].long_name);
                                    break;
                                case "street_number":
                                    $('#lanet_master_profile_userInfo_location_streetNumber').val(data.results[0].address_components[i].long_name);
                                    break;
                            }
                        }
                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                {{ form_widget(form.userInfo.location.country) }}
                {{ form_widget(form.userInfo.location.administrative_area) }}
                {{ form_widget(form.userInfo.location.locality) }}
                {{ form_widget(form.userInfo.location.sublocality) }}
                {{ form_widget(form.userInfo.location.route) }}
                {{ form_widget(form.userInfo.location.streetNumber) }}
                {{ form_widget(form.userInfo.location.lang) }}
                {{ form_widget(form.userInfo.location.lat) }}
                </div>
        </div>
        <hr />
        <div class="row">
          <div class="col col_1_of_2">
            <label>Телефон: (+38 0XX XXXXXXX)</label>
            <ul class="phone" data-prototype="{{ _self.phone_prototype(form.phone.vars.prototype)|e }}">
                {% for item in form.phone %}
                    <li><div>{{ form_widget(item.showPhone) }}{{ form_label(item.showPhone) }}</div>
                        <div>{{ form_widget(item.number) }}</div></li>
                {% endfor %}
            </ul>   
          </div>
          <div class="col col_1_of_2">
            <label>Дополнительный электронный адрес:</label>
            <ul class="mail" data-prototype="{{ _self.mail_prototype(form.mail.vars.prototype)|e }}">
                {% for item in form.mail %}
                    <li><div>{{ form_widget(item.showMail) }}{{ form_label(item.showMail) }}</div>
                        <div>{{ form_widget(item.name) }}</div></li>
                {% endfor %}
            </ul>  
          </div>
        </div>
        <hr />
        {{ form_row(form.userInfo.startWork) }}
        {{ form_row(form.userInfo.competitions) }}
        {{ form_row(form.userInfo.education) }}
        {{ form_row(form.userInfo.usedCosmetics) }}
        {#{{ form_row(form.userInfo.hobby) }}#}
        <div>{{ form_widget(form.newsNotify) }}{{ form_label(form.newsNotify) }}</div>
        
        {{ form_row(form.save) }}
        {{ form_row(form._token) }}
        
</form>
       
              <h5><a id="master-preview-btn" href="{{ path('la_net_la_net_master_id', {'id': m_id })}}">Просмотр профиля</a></h5>
  
<script>jQuery(function($){
        $.datepicker.regional['ru'] = {
                closeText: 'Закрыть',
                prevText: '&#x3c;Пред',
                nextText: 'След&#x3e;',
                currentText: 'Сегодня',
                monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
                'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
                'Июл','Авг','Сен','Окт','Ноя','Дек'],
                dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
                dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
                dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
                weekHeader: 'Не',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['ru']);
});
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'yy-mm-dd',
      yearRange: "-100:+0",
    });
  });
  
  if (!($("#lanet_master_profile_userInfo_serviceType_1").prop('checked'))){
     $('#salonName').hide();
  }
  
 $('#lanet_master_profile_userInfo_serviceType_1').on('click', function(){  
     
  if ($("#lanet_master_profile_userInfo_serviceType_1").prop('checked')){
     // $('#lanet_master_profile_userInfo_salonName').prop('disabled', false);
     $('#salonName').show();
  }else{
     // $('#lanet_master_profile_userInfo_salonName').prop('disabled', true);
     $('#salonName').hide();
  }
      
     /* $('#master-preview-btn').click(function(event) {
              event.preventDefault();
              
               window.open({{ path('la_net_la_net_master_id', {'id': m_id })}}, '_blank');
              // window.location = Routing.generate('la_net_admin_events');
            });
      
     */
  });
  </script>
  
  
  <script>
      $(document).ready(function(){
          
          $("#lanet_master_profile_phone_0_number").intlTelInput({
            //hiddenInput: "full_phone",
            nationalMode: false,
            preferredCountries: ['ua'],
            utilsScript: "../../build/js/utils.js" // just for formatting/placeholders etc
          });

          
          $('#master-preview-btn').click(function(event) {
              event.preventDefault();
           
               window.open($(event.target).attr("href"), '_blank');
            
            }); 
          
      })
      </script>
{% endblock %}