<div class="row">
   <div class="col col_1_of_3">
      {{ form_label(form.name) }}
      {{ form_widget(form.name) }}
   </div>
   <div class="col col_1_of_3">
      {{ form_label(form.startPrice) }}
      {{ form_widget(form.startPrice) }}
   </div>
   <div class="col col_1_of_3">
      {{ form_label(form.endPrice) }}
      {{ form_widget(form.endPrice) }}
   </div>
</div>