{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block stylesheets  %}
  {{ parent() }}
  <script src="{{ asset('bundles/lanetadmin/js/masters.js')}}"></script>
{% endblock %}
  
{% block content %}
    <a href="{{ path('la_net_admin_masters') }}"> < Назад</a>
    <div>
        <form action="">
            <input placeholder="Поиск мастера" style="margin-bottom:0;width:80%;" type="text" name="name" {% if app.request.query.get('name') %}value="{{ app.request.query.get('name') }}"{% endif %}>
            <input style="display:none;" type="text" name="period" {% if app.request.query.get('period') %}value="{{ app.request.query.get('period') }}"{% endif %}>
            <input style="margin-left:10px;" type="submit" value="Найти">
        </form>
    </div>
   
    <h1>Мастера:</h1>
    <div class="results">
        {% for flashMessage in app.session.flashbag.get('notice_master') %}
          <div class="flash-notice success">
              {{ flashMessage }}
          </div>
        {% endfor %}
    </div>
    {#<div id="users-nav">
        <span><a href="" class="users-filter active-link" data="">#</a></span>
        <span><a href="" class="users-filter" data="">0-9</a></span>
        {% for letter in 'а'..'я' %}
            <span><a href="" class="users-filter" data="{{letter}}">{{letter|upper}}</a></span>
        {% endfor %}
    </div>#}
    
  
    <div style="margin-top: 30px;" id="users-list">
        {% for master in masters %}
             <div class="user-item">
            {#<div class="image col col_1_of_6 tablet_1_of_3 mobile_1_of_1"><img src="{{ asset(master.getWebPath) | imagine_filter('my_master_thumb_medium') }}"></div>#}
          <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
                Email: <br />
                <span>{{ master.user.email }}</span>
            </div>  
          <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
                ФИО: <br />
                <span>{{ master.firstName }} {{ master.lastName }}</span>
            </div> 
          <div class="col col_1_of_6 tablet_1_of_3 mobile_1_of_1">
               <div class="row"> Дата регистрации: <br />
                <span> {{ master.user.created|date("m/d/Y") }}</span>
                </div>
               {#<div class="row">Валидация:<br />
                <span> {% if master.user.validation == '1' %} <h5 style='color: #6cb55d;'>Валидирован</h5>{% else %}<h5 style='color: red;'>Не валид.</h5>{% endif %}</span>
                </div>#}
            </div> 
                                     
            <div class="col col_1_of_6 tablet_1_of_3 mobile_1_of_1">
                <a href="javascript:void(0)" class="remove-master button" data="{{ master.user.id }}">Удалить</a>
                <a href="{{ path('la_net_admin_ajax_inTop_master', {'id': master.id} ) }}" class="update-post button">{% if master.inTop == NULL %}Вывести в ТОП{% else %}Удалить из ТОП{% endif %}</a>
                <a href="{{ path('la_net_admin_ajax_premium_master', {'id': master.id} ) }}" class="premium button">{% if master.getUser.premium == NULL %}Добавить премиум{% else %}Удалить премиум{% endif %}</a>
                {% if master.user.validation == '1' %} <h5 style='color: #6cb55d;'>Валидирован</h5>{% else %}<h5 style='color: red;'>Не валидир.</h5>{% endif %}
                {#<a href="{{ path('la_net_admin_masters_edit_profile', {'id': master.id} ) }}" class="button">Редактировать</a>
            </div>
            <div class="col col_1_of_6 tablet_1_of_3 mobile_1_of_1">
               <a href="{{ path('la_net_admin_ajax_inTop_master', {'id': master.userInfo.id} ) }}" class="update-post button">{% if master.userInfo.inTop == NULL %}Вывести в ТОП{% else %}Удалить из ТОП{% endif %}</a>
               {#<a href="{{ path('la_net_admin_ajax_inTop_master', {'id': master.userInfo.id} ) }}" class="update-post button">{% if master.userInfo.id %}{{master.userInfo.inTop | date('Y-m-d', false)}}{% else %}Вывести в ТОП{% endif %}</a>#}
            </div>
        </div>
        <div class="clear"></div>
                    <hr>

    {% endfor %}
    {{ knp_pagination_render(masters) }}
        
    </div>
     
  <script type="text/javascript">
      $(document).ready(function() {
       
          $('.update-post').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                    
                    if (element.text() == "Вывести в ТОП"){
                            element.text('Удалить из ТОП')
            
                    } else {
                            element.text('Вывести в ТОП')
                    }
                }
            });
          });
          
          $('.premium').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                    
                    if (element.text() == "Добавить премиум"){
                            element.text('Удалить премиум')
            
                    } else {
                            element.text('Добавить премиум')
                    }
                }
            });
          });
      });
  </script>
{% endblock content %}