{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block content %}

<ul>
  <li><a href="{{ path('la_net_admin_masters_list') }}">Список мастеров</a></li>
  <li><a href="{{ path('la_net_admin_masters_categories_list') }}">Категории мастеров</a></li>
</ul>
  
  </br> </br>

 <ul>
  <li><a href="{{ path('la_net_admin_masters_list', {'period': 'day'}) }}">Добавленные мастера за день({{day}})</a></li>
  <li><a href="{{ path('la_net_admin_masters_list', {'period': 'week'}) }}">Добавленные мастера за неделю({{week}})</a></li>
  <li><a href="{{ path('la_net_admin_masters_list', {'period': 'month'}) }}">Добавленные мастера за месяц({{month}})</a></li>
</ul>
  
  
{% endblock content %}