{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block content %}
  <h3>Баннеры</h3>
   <button id="add-banners-btn">Добавить баннер</button>
         {% if pagination.count %}
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Приоритет</th>
                    <th>Группа</th>
                    <th>Удалить баннер</th>
                    <th>Редактировать баннер</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for banners in pagination %}
                    <tr>
                        <td>{{ banners.name }}</td>
                        <td>{{ banners.priority == NULL ? 'отстутствует' : banners.priority}}</td>
                        <td>{% if banners.getGroupId() == NULL %} отстутствует {% endif %} {% if banners.getGroupId() == 1 %}Верхний{% endif %}{% if banners.getGroupId() == 2 %}Средний{% endif %} {% if banners.getGroupId() == 3 %}Нижний{% endif %}</td>
                        <td><a href="{{ path('la_net_admin_banners_delete', {'id': banners.id}) }}" class="delete-banners">Удалить</a></td>
                        <td><a href="{{ path('la_net_admin_banners_edit', {'id': banners.id}) }}">Редактировать</a></td>
                        <td><a href="{{ path('la_net_admin_banners_isDraft', {'id': banners.id} ) }}" class="update-post button">{% if banners.getIsDraft == 1 %}Активировать{% else %}Деактивировать{% endif %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
           {% else %}
        <div>
            На данный момент нет баннеров.
        </div>
    {% endif %}
    {{ knp_pagination_render(pagination) }}
  <script type="text/javascript">
      $(document).ready(function() {
          $('#add-banners-btn').click(function() {
              window.location = Routing.generate('la_net_admin_banners_create')
          });
          $('.delete-banners').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                  if(data.success) 
                    element.parent().parent().remove();
                  else 
                    alert('You can not delete this item');
            }
            });
          });
      });
      
       $('.update-post').click(function(event) {
            event.preventDefault();
           
            var element = $(this);
             console.log(element.text());
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                
                   
                    if (element.text() == "Активировать"){
                            element.text('Деактивировать')
            
                    } else {
                            element.text('Активировать')
                    }
                
            }
            });
          });
   
       
  </script>
{% endblock %}
