{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    {% set from = app.request.query.get("from") %}
    {% set to = app.request.query.get("to") %}

    <form action="">
        <h5>Выбор периода:</h5>
        <label for="from">С</label>
        <input {% if from is not empty %}value="{{from}}"{% endif %} type="text" id="from" name="from">  
        <label for="to">По</label>
        <input {% if to is not empty %}value="{{to}}"{% endif %} type="text" id="to" name="to">
        <input type="submit">
    </form>


    {% if pagination.count %}
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Переходов {% if from is not empty %}c {{ app.request.query.get("from") }} по {{ app.request.query.get("to") }}{% else %}за {{ "now"|localizeddate('none', 'none', 'ru_RU', null, 'LLLL')}}{% endif %}</th>
                </tr>
            </thead>
            <tbody>
                {% for banners in pagination %}
                    <tr>
                        <td>{{ banners.name }}</td>
                        <td>{{ banners.cnt }}</td>
                    </tr>            
                {% endfor %}

            <div><a class="button" href="{{ path('la_net_admin_banners') }}">< Назад</a></div>
        </tbody>
    </table>
{% else %}
    <div>
        За этот период статистика недоступна

        <div><a class="button" href="{{ path('la_net_admin_banners') }}">< Назад</a></div>

    </div>
{% endif %}
{{ knp_pagination_render(pagination) }}


<script type="text/javascript">
    $(function () {
        var dateFormat = "dd/mm/yy",
                from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    closeText: 'Закрыть',
                    prevText: '&#x3c;Пред',
                    nextText: 'След&#x3e;',
                    currentText: 'Сегодня',
                    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                        'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                        'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
                    dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
                    dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    weekHeader: 'Не',
                    dateFormat: 'dd/mm/yy',
                    numberOfMonths: 1
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
                to = $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            closeText: 'Закрыть',
            prevText: '&#x3c;Пред',
            nextText: 'След&#x3e;',
            currentText: 'Сегодня',
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
            dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
            dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            weekHeader: 'Не',
            dateFormat: 'dd/mm/yy',
            numberOfMonths: 1
        })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
{% endblock %}