<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta property="fb:app_id" content="1540865079331046" />
        <meta property="fb:admins" content="100022331712615"/>
        <meta name="description" content="Портал индустрии красоты и здоровья"/>
        <title>{% block title %}Lalook{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}">
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Comfortaa" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/slick.min.js') }}"></script>
            
            <link rel="stylesheet" href="{{ asset('js/intl-tel-input-12.1.0/build/css/intlTelInput.css')}}">
            <script src="{{ asset('js/intl-tel-input-12.1.0/build/js/intlTelInput.js')}}"></script>
            
{#            <link href="http://allfont.ru/css/?fonts=comfortaa-bold" rel="stylesheet" type="text/css" />#}
            <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom_styles.css') }}">
            {#      <link rel="stylesheet" href="{{ asset('css/main.css') }}">#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js')}}"></script>
            <script src="{{ asset('js/toastr/toastr.js')}}"></script>
            <link rel="stylesheet" href="{{ asset('js/toastr/toastr.css')}}" >
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script type="text/javascript">main_css = "{{ asset('css/style.css') }}, {{ asset('css/custom_styles.css') }} "</script>


        {% endblock %}
    </head>
    <body>
        <div style="min-height: 100%; margin-bottom: -200px;height:auto ! important;height:100%;">
            <header>

                <div id="header-row" class="container">
                    <div class="wrapper row-fluid">
                        <div class="span3">
                            <div id="logo"><a href="{{ path('la_net_la_net_homepage') }}"><img src="{{ asset('images/logo2.png') }}" height="72" width="192"></a></div>
                        </div>
                        <div class="span5">
                            {#<form action="{{ path('la_net_lanet_set_regions') }}" method="POST" id="form-regions">
                                {{ render(controller('LaNetLaNetBundle:Location:getRegions')) }}
                            </form>#}
                        </div>
                        <div class="span4">
                            <div id="login">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if not is_granted('ROLE_ADMIN') %}
                                        <div style="float:left;margin: 5px;"> {% include "LaNetLaNetBundle::profileImage.html.twig" %}</div>
                                    {% endif %}
                                    <div style="float:left;margin: 5px;"> 
                                        {% if not is_granted('ROLE_ADMIN') %}
                                            <p style="color:#fff;">{% include "LaNetLaNetBundle::profileName.html.twig" %}</p>   
                                            <p id="edit"><a href="{% include "LaNetLaNetBundle::profileLink.html.twig" %}">Редактировать</a></p>
                                        {% endif %}
                                        <p id="sing_out"><a href="{{ path('fos_user_security_logout') }}">Выйти</a></p>
                                    </div>
                                {% else  %}
                                    <a href="{{ path('fos_user_security_login') }}" id="enter">Войти</a>
                                    <div id="line2"></div>
                                    <a href="{{ path('fos_user_registration_register') }}" id="reg">Регистрация</a>
                                {% endif %}
                                 </div>
                                 <div>
                                 <ul class="social-links">
                                <li class="mail">
                                    <a href="#" id="notifications-modal-btn" data-toggle="modal" data-target="#myModal">
                                        <i class="icon icon-mail"></i>
                                        <span>Подписаться на новости</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/LaLook.info">
                                        <i class="icon icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCG2bva7GOK_aUcsBeVVdGVw">
                                        <i class="icon icon-youtube"></i>
                                    </a>
                                </li>
                                 {#<li>
                                    <a href="#">
                                        <i class="icon icon-instagram"></i>
                                    </a>
                                </li>#]
                            </ul>
                            </div>
                            <div  id="form2">
                                {# <form action="http://lalook.net/formdata.php" method="POST" name="form">
                                   <input type="text" name="search" placeholder="Поиск" id="search">
                                   <input type="submit" name="submit" value="" id="submit">
                                 </form>#}
                            </div>
                        </div>
                    </div>
                </div>   
                   
                            
                            
                 <nav class="nav">
                    <div class="container">
                        <ul>
                          <li><a href="{{ path('la_net_la_net_homepage') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_homepage' %} class="active"{% endif %}>Главная</a></li> 
                          <li><a href="{{ path('la_net_la_net_brands_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_brands_list' %} class="active"{% endif %}>Бренд инфо</a></li>
                          {#<li><a href="{{ path('la_net_la_net_product_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_product_list' %} class="active"{% endif %}>Товары</a></li>#}
                          <li><a href="{{ path('la_net_la_net_club_main') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' or app.request.attributes.get('_route') == 'la_net_la_net_salon_list' or app.request.attributes.get('_route') == 'la_net_la_net_club_main'  %} class="active"{% endif %}>Клуб профессионалов</a></li> 
                          {#<li><a href="{{ path('la_net_la_net_news_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_news_list' %} class="active"{% endif %}>Новости</a></li>#}  
                          {#<li><a id="drop_custom" href="{{ path('la_net_la_net_master_list') }}" data-toggle="dropdown" >Бренд-инфо</a>
                                <div id="main_custom" style="display:none;" class="sub_menu"> 
                                    <ul>                     
                                         {{ render(controller('LaNetLaNetBundle:Menu:getMasterCategory')) }}
                                    </ul>   
                                </div> 
                            </li> #}       
                            {# <li class="dropdown"><a href="{{ path('la_net_la_net_master_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' or app.request.attributes.get('_route') == 'la_net_la_net_salon_list'%} class="active"{% endif %} data-toggle="dropdown" >Клуб профессионалов</a>
                                <ul class="dropdown-menu pull-rigth">
                                    <li><a href="{{ path('la_net_la_net_master_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' %} class="active"{% endif %}>Поиск мастера</a></li>
                                    <li><a href="{{ path('la_net_la_net_salon_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_salon_list' %} class="active"{% endif %}>Поиск салона</a></li>
                                </ul>
                            </li>#}
                            
                            {#<li><a href="{{ path('la_net_la_net_trusts_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_trusts_list' %} class="active"{% endif %}>Им доверяют</a></li>#}
                            {#<li><a href="{{ path('la_net_la_net_advices_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_advices_list' %} class="active"{% endif %}>Советы красоты</a></li>#}
                            <li><a href="{{ path('la_net_la_net_adverts_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_adverts_list' %} class="active"{% endif %}>Объявления</a></li>
                            <li><a href="{{ path('la_net_la_net_events_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_events_list' %} class="active"{% endif %}>Медиа</a></li>
                            
                            {#<li><a href="{{ path('la_net_la_net_brands_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_brands_list' %} class="active"{% endif %}>Бренды</a></li>#}

                            {#<li><a href="{{ path('la_net_la_net_agancy_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_agancy_list' %} class="active"{% endif %}>Представительства</a></li>#}
                                {# <li class="dropdown"><a href="{{ path('la_net_la_net_product_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_product_list' %} class="active" {% endif %} data-toggle="dropdown" >Каталог товаров</a>
                                    <ul class="dropdown-menu pull-rigth">
                                        {{ render(controller('LaNetLaNetBundle:Product:getBrand')) }}  
                                    </ul>
                                </li>
                                             <li><a href="{{ path('la_net_la_net_product_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_product_list' %} class="active"{% endif %}>Косметика</a></li>
                                                <li><a href="">Магазаны</a></li>
                                                <li><a href="">Обучение</a></li>
                                                <li><a href="">Литератур</a></li>
                                                <li><a href="">Форум</a></li>#}
                            <li><a href="{{ path('la_net_la_net_contact') }}" {% if app.request.attributes.get('_route') == 'la_net_la_net_contact' %} class="active" {% endif %}>Контакты</a></li>
                             {#<li><a href="{{ path('la_net_la_net_about') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_about' %} class="active"{% endif %}>О портале</a></li>#}
                        </ul>
                    </div>
                </nav>
                <div id="line"></div>
            </header>
{% block body %}{% endblock %}
 <div class="clear-bottom"></div>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="footer-left">
                    <div class="footer-area">
                        <nav class="footer-nav">
                            <ul>
                    <li><a href="{{ path('la_net_la_net_homepage') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_homepage' %} class="active"{% endif %}>Главная</a></li> 
                    <li><a href="{{ path('la_net_la_net_brands_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_brands_list' %} class="active"{% endif %}>Бренд инфо</a></li>
                    <li><a href="{{ path('la_net_la_net_product_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_product_list' %} class="active"{% endif %}>Товары</a></li>
                    <li><a href="{{ path('la_net_la_net_club_main') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_master_list' or app.request.attributes.get('_route') == 'la_net_la_net_salon_list' or app.request.attributes.get('_route') == 'la_net_la_net_club_main'  %} class="active"{% endif %}>Клуб профессионалов</a></li> 
                    {#<li><a href="{{ path('la_net_la_net_news_list') }}">Новости</a></li>#}
                    <li><a href="{{ path('la_net_la_net_adverts_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_adverts_list' %} class="active"{% endif %}>Объявления</a></li>
                    <li><a href="{{ path('la_net_la_net_events_list') }}"{% if app.request.attributes.get('_route') == 'la_net_la_net_events_list' %} class="active"{% endif %}>Медиа</a></li>
                    {#<li><a href="{{ path('la_net_la_net_agancy_list') }}">Представительства</a></li>#}
                        {# <li><a href="">Косметика</a></li>
                         <li><a href="">Магазаны</a></li>
                         <li><a href="">Обучение</a></li>
                         <li><a href="">Литератур</a></li>
                         <li><a href="">Форум</a></li>#}
                    <li><a href="{{ path('la_net_la_net_contact') }}" {% if app.request.attributes.get('_route') == 'la_net_la_net_contact' %} class="active" {% endif %}>Контакты</a></li>
                    {#<li><a href="{{ path('la_net_la_net_about') }}">О портале</a></li>#}
               </ul>
                        </nav>
                        <div class="footer-info">
                            <span class="footer-copy">© 2013-2017 lalook.net.</span>
                            <span class="footer-email">E-mail: Lalook.lu@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                    <p>© 2013-2017 lalook.net. Все права защищены. При полном или частичном использовании материалов портала, гиперссылка http://lalook.net на ресурс обязательна. Администрация может не разделять точку зрения авторов материалов и не несет ответственности за размещаемую пользователями информацию.</p>
                </div>
            </div>
            
            <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" id="close-btn" data-dismiss="modal">×</button>
                        <h4 style="color:#0088cc;" class="modal-title">Введите адресс электронной почты</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="notifications" style="width:100%;"/>
                        <span id="valid"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default notifications-confirm" type="button" >Подписаться</button>
                    </div>
                </div>
            </div>
        </div> 
            
            </div>
            
            
               <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
               
               
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-54996261-1', 'auto');
                ga('send', 'pageview');

            </script>


        <script>

           /*     $(document).on('mouseenter', '#main_custom li', function (event) {
                   
                    var el = $(event.target);
                    
                    if (event.target.tagName != 'LI') {
                        el = $(event.target).parent('li');
                    }     
                    var id = (el.attr('id'));
                    if(el.parents('#main_custom').next('.sub_menu').find('ul').attr('data-prev') == id) {
                        return;
                    }
                        
                    el.parents('ul').eq(0).find('li').removeClass('active')
                    el.addClass('active');

                    el.parents('#main_custom').nextAll('.sub_menu').remove();
                                
                    if (typeof (xhrMain) != 'undefined') {

                        xhrMain.abort()
                    }
                    
                    
                   
                    xhrMain = $.ajax({
                        url: Routing.generate('la_net_la_net_ajax_menu_getBrand'),
                        data: {id: id},
                        success: function (response) {
                            
                        if (response.length != 0)
                            {
                                if ($("#main_custom").length) {
                               // var right = $('#main_custom').offset().left + $('#main_custom').outerWidth();
                                var top2 = el.offset().top - 15;
                                
                                var right = $('#main_custom').offset().left + $('#main_custom').outerWidth();
                                var top = $('#main_custom').offset().top;
                               
                            }
                                $('#main_custom').after($('<div id="brand_custom" class="sub_menu"></div>'));

                                $('#brand_custom').offset({top:top2, left:right});
                                                              
                                var brandMenu = $('#brand_custom');
                                var data = (response);
                                var ul = '<ul data-prev="' + id + '">'
                                $.each(data, function (index, value) {
                                    ul += '<li data-brand="' + value.id + '"><a href="{{ path('la_net_la_net_product_list') }}' + '?brand=' + value.id + '&category=' + id + '">' + value.name + '</a></li>';


                                });
                                ul += '</ul>';

                                brandMenu.html(ul);
                            }
                        }
                    });

                }); */
            </script>       

            <script>
            /*    $(document).on('mouseenter', '#brand_custom li', function (event) {
              
                    var el = $(event.target)
                    if (event.target.tagName != 'LI') {
                        el = $(event.target).parent('li');
                    }
                    
                    var idMenu = (el.attr('data-brand'));
                    if(el.parents('#brand_custom').next('.sub_menu').find('ul').attr('data-prev') == idMenu) {
                        return;
                    }
                    
                         
                    el.parents('ul').eq(0).find('li').removeClass('active');
                    el.addClass('active')

                    el.parents('#brand_custom').nextAll('.sub_menu').remove();

                    if (typeof (xhrBrand) != 'undefined')
                    {
                        xhrBrand.abort()
                    }    

                    
                    var brand = (el.attr("data-brand"))
                    var cat = $('#main_custom li.active').attr('id')
                                     
                    xhrBrand = $.ajax({
                        url: Routing.generate('la_net_la_net_ajax_menu_getProductCategory'),
                        data: {id_cat: cat, id_brand: brand},
                        success: function (response) {

                            if (response.length != 0)
                            {
                                if ($("#brand_custom").length) {
                                var right = $('#brand_custom').offset().left + $('#brand_custom').outerWidth();
                                var top = $('#brand_custom').offset().top;
                                var top2 = el.offset().top - 15;
                            }
                                $('#brand_custom').after($('<div id="category_custom" class="sub_menu"></div>'));

                                $('#category_custom').offset({top:top2, left:right});
                               
                                var categoryMenu = $('#category_custom')
                                var data = (response);
                                var ul = '<ul data-prev="' + idMenu + '">'
                                $.each(data, function (index, value) {
                                    ul += '<li data-cat="' + value.id + '"><a href="{{ path('la_net_la_net_product_list') }}' + '?brand=' + brand + '&category=' + cat + '&product_cat=' + value.id + '">' + value.name + '</a></li>';

                                });
                                ul += '</ul>';
                                categoryMenu.html(ul);
                            }
                        }
                    });
                }); */
            </script>       


            <script>

           /*     $(document).on('mouseenter', '#category_custom li', function (event) {
                    
                    var el = $(event.target)
                    if (event.target.tagName != 'LI') {
                        el = $(event.target).parent('li');
                    }
                    
                    var idMenu = (el.attr('data-cat'));
                    if(el.parents('#category_custom').next('.sub_menu').find('ul').attr('data-prev') == idMenu) {
                        return;
                    }
                                        
                    el.parents('ul').eq(0).find('li').removeClass('active');
                    el.addClass('active');

                    el.parents('#category_custom').nextAll('.sub_menu').remove();

                    if (typeof (xhrCat) != 'undefined')
                    {
                        xhrCat.abort()
                    }

                    var cat = $('#main_custom li.active').attr('id')
                    var catParent = (el.attr("data-cat"))

                    main_cat = catParent;
                    
                    xhrCat = $.ajax({
                        url: Routing.generate('la_net_la_net_ajax_menu_getProductSubCategory'),
                        data: {id_parent: catParent},
                        success: function (response) {

                            if (response.length != 0)
                            {
                                el.parents('#category_custom').eq(0).nextAll('.sub_cat_custom').remove();
                                 
                                if ($("#category_custom").length) {
                                var right = $('#category_custom').offset().left + $('#category_custom').outerWidth();
                                var top = $('#category_custom').offset().top;
                                var top2 = el.offset().top - 16;
                                }
                                $('#category_custom').after($('<div class="sub_menu sub_cat_custom"></div>'));

                                $('.sub_cat_custom').last().offset({top:top2, left:right});   
            
                                var subcatMenu = $('.sub_cat_custom').last();

                                var data = (response);
                                var ul = '<ul data-prev="' + idMenu + '">'
                                $.each(data, function (index, value) {
                                    ul += '<li data-sub-cat="' + value.id + '"><a href="{{ path('la_net_la_net_product_list') }}' + '?brand=' + $('#brand_custom li.active').attr('data-brand') + '&category=' + cat + '&product_cat=' + catParent + '&product_sub_cat=' + value.id + '">' + value.name + '</a></li>';

                                });
                                ul += '</ul>';

                                subcatMenu.html(ul);
                            }
                        }
                    });

                }); */
            </script>            

            <script>

         /*       $(document).on('mouseenter', '.sub_cat_custom li', function (event) {
  
                    var el = $(event.target)
                    if (event.target.tagName != 'LI') {
                        el = $(event.target).parent('li');
                    }
                    
                    var idMenu = (el.attr('data-sub-cat'));
                    if(el.parents('.sub_cat_custom').next('.sub_menu').find('ul').attr('data-prev') == idMenu) {
                        return;
                    }
                    
                    el.parents('ul').eq(0).find('li').removeClass('active')
                    el.addClass('active');
                    
                    if (typeof (xhrSubCat) != 'undefined')
                    {
                        xhrSubCat.abort()
                    }

                    var idCat = el.attr("data-sub-cat");
                   
                    xhrSubCat = $.ajax({
                        url: Routing.generate('la_net_la_net_ajax_menu_getProductSubCategory'),
                        data: {id_parent: idCat},
                        success: function (response) {

                            if (response.length != 0)
                            {
                                
                                
                                el.parents('.sub_cat_custom').eq(0).nextAll('.sub_cat_custom').remove();
                                
                                var right = $('.sub_cat_custom').last().offset().left + $('.sub_cat_custom').last().outerWidth();
                                var top = $('.sub_cat_custom').last().offset().top;
                                var top2 = el.offset().top - 15;
                                
                                $('.sub_cat_custom').last().after($('<div class="sub_cat_custom sub_menu"></div>'));
                                $('.sub_cat_custom').last().offset({top:top2, left:right}); 
                                var subcatMenu = $('.sub_cat_custom').last();

                                var data = (response);
                                var ul = '<ul data-prev="' + idMenu + '">'
                                $.each(data, function (index, value) {
                                    ul += '<li data-sub-cat="' + value.id + '"><a href="{{ path('la_net_la_net_product_list') }}' + '?brand=' + $('#brand_custom li.active').attr('data-brand') + '&category=' + $('#main_custom li.active').attr('id') + '&product_cat=' + main_cat + '&product_sub_cat=' + value.id + '">' + value.name + '</a></li>';

                                });
                                ul += '</ul>';

                                subcatMenu.html(ul);
                            }
                        }
                    });

                }); */
            </script>

            <script>
                
    
        $(document).ready(function(){
         
            $('.media-slider').slick({
              infinite: true,
              slidesToShow: 2,
              slidesToScroll: 1
            });

            $(".advert-holder").height('115px');

            $('.opener').click(function (event) {
                event.preventDefault();
                var height = $(this).parent(".advert-area").outerHeight()+20;
                $(this).parents('.advert-holder').animate({
                    height: height
                }, 200);
                $(this).parents('.advert-holder').addClass('opened');
            });

            $('.closer').click(function (event) {
                event.preventDefault();
                $(this).parents('.advert-holder').animate({
                    height: '115px'
                }, 200);
                $(this).parents('.advert-holder').removeClass('opened');
            });

           /*      var x = $('#drop_custom').offset().left;
            $('#main_custom').offset({left:x});
            $('.sub_menu').hide();*/
        
        
        
        });
    </script>    
       
   
    <script>  
      /*         
            function pos(){
                var x = $('#drop_custom').offset().left;
                $('#main_custom').offset({left:x});
            }
                                
                $("#drop_custom").click(function () {
                $('#main_custom').nextAll('.sub_menu').remove();
                $('#main_custom').toggle();
                pos();
                });
                    
                    
            $(window).on('resize', function(){
            var x = $('#drop_custom').offset().left;
            $('#main_custom').offset({left:x}); 
            $('#main_custom').nextAll('.sub_menu').remove();
            $('#brand_custom').remove();
});        */
                              
    </script>  
                                    
  <script>
       
    $(document).ready(function(){
  
      $('.banner-redirection').on("click", "img", function(event) { 
          
          event.preventDefault();
          var banner_id = $(event.target).parent().attr('data-banner-id');
          
          $.ajax({
                    url: Routing.generate('la_net_la_net_ajax_banner'),
                    data: {banner_id: banner_id},
                    success     : function(respons) {
                      if (respons.link != 0 ){
                          var data = (respons);
                          window.open(data.link, '_blank');
                         }
                    }
            })      
          
    
        })
      
      
        $("#myModal").css({
            display: "none",
            visibility: "hidden"
        });

        toastr.options = {"closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "7000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                      }
  
        $('#close-btn').click(function(){
              $("#myModal").css({
                display: "none",
                visibility: "hidden"
              });
        });           
  
        $('#notifications-modal-btn').click(function(){
             $("#myModal").css({
                display: "display",
                visibility: "visible"
              });
            document.getElementById('notifications').value = '';
            $('#notifications').css({'border' : '1px solid #c5c5c5'});
        });

        $('.notifications-confirm').click(function(event){
        var input = document.getElementById('notifications');
       
            if(input.value != '') {
                var pattern = /^([a-z0-9_\.-])+@[a-z0-9-]+\.([a-z]{2,4}\.)?[a-z]{2,4}$/i;
                if(pattern.test(input.value)){
                    $('#notifications').css({'border' : '1px solid #569b44'});
                    $.ajax({
                         url: Routing.generate('la_net_la_net_ajax_notifications'),
                    data: {notifications_mail: input.value},
                    success: function (response) {
                        if (response){
                                if (response == "success"){
                                    $('#myModal').modal("hide");
                                    toastr.success('Вы подписались на расылку новостей');
                                }
                                if (response == "duplicate"){
                                    $('#notifications').css({'border' : '1px solid #ff0000'});
                                    //$('#valid').text('Данный адрес электронной почты уже подписан на рассылку!');
                                    toastr.warning('Данный адрес электронной почты уже подписан на рассылку');
                                }
                             
                        }else{ toastr.error('Произошла ошибка. Повторите попытку');}
                            //  $('#myModal').modal("hide");
                              $("#myModal").css({
                                display: "none",
                                visibility: "hidden"
                              });
                     }
                       });
                            
                } else {
                     $('#notifications').css({'border' : '1px solid #ff0000'});
                     toastr.error ('Некорректный адрес электронной почты');
                   //$('#valid').text('Некорректный адрес электронной почты');
                }
            } else {
                $('#notifications').css({'border' : '1px solid #ff0000'});
                toastr.error ('Поле email не должно быть пустым');
              //$('#valid').text('Поле email не должно быть пустым');
             }
        });
    });
   
            </script>     
            
<script>
  $(document).ready(function(){
       
    function Banner (id, time) {
    var i=1;
    var id = id;   
    
        function ShowBanner() {
            if (i>$("#banners-group-"+id+"").children('div').length){
                i=1;
                $("#banners-group-"+id+"").children('[banner-index]').hide();
                $("#banners-group-"+id+"").children('[banner-index= '+i+']').show();
              }
            else {
                $("#banners-group-"+id+"").children('[banner-index]').hide();
                $("#banners-group-"+id+"").children('[banner-index= '+i+']').show();
              }  
                i++;
            }

    function start() {
       setInterval(ShowBanner, time);
    }
     start(); 
    }     
   
   Banner (1, 10000);
   Banner (2, 10000);
   Banner (3, 10000);
    
  });
  
  function Discount (time) {
    var i=1;
  
        function ShowDiscount() {
            if (i>$("#discount-container").children('article').length){
                i=1;
                $("#discount-container").children('[discount-index]').hide();
                $("#discount-container").children('[discount-index= '+i+']').show();
              }
            else {
                $("#discount-container").children('[discount-index]').hide();
                $("#discount-container").children('[discount-index= '+i+']').show();
              }  
                i++;
            }

    function start() {
       setInterval(ShowDiscount, time);
    }
     start(); 
    }     
  
  Discount (10000);
  
  
  
</script>
       
            
         
    <script>

     /*           //скрытие всего меню по любому клику вне меню

                $(document).click(function (e) {
                    var elem = $(".sub_menu");
                    if (e.target != elem[0] && !elem.has(e.target).length) {
                        elem.hide();
                        $('#main_custom').nextAll('.sub_menu').remove();
                        $("#main_custom").find('a').removeClass('active')
                        $("#main_custom").find('li').removeClass('active')

                    }
                }) */
            </script>     
        </div>
    </footer>
</body>
</html>