<!DOCTYPE html>

<html>
  <head>
	<meta charset="utf-8"/>
    <title>{% block title %}Lalook{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
     <script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
     <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}">
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <link href="http://allfont.ru/css/?fonts=comfortaa-bold" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/custom_styles.css') }}">
{#      <link rel="stylesheet" href="{{ asset('css/main.css') }}">#}
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endblock %}
  </head>
  <body>
      <header>
          
        <div id="header-row" class="container">
          <div class="wrapper row-fluid">
            <div class="span3">
              <div id="logo"><a href="{{ path('la_net_la_net_homepage') }}"><img src="{{ asset('images/logo2.png') }}" height="72" width="192"></a></div>
            </div>
            <div class="span9">
              <form action="{{ path('la_net_lanet_set_regions') }}" method="POST" id="form-regions">
                {{ render(controller('LaNetLaNetBundle:Location:getRegions')) }}
              </form>
              <div id="login" style="float:right;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       <div style="float:left;margin: 5px;"> <img src="{{ app.user.getUserInfo.getWebPath | imagine_filter('my_master_thumb_small') }}"  /></div>
                       <div style="float:left;margin: 5px;"> 
                        <p style="color:#fff;">{% include "LaNetLaNetBundle::profileName.html.twig" %}</p>   
                        <p id="edit"><a href="{% include "LaNetLaNetBundle::profileLink.html.twig" %}">Редактировать</a></p>
                        <p id="sing_out"><a href="{{ path('fos_user_security_logout') }}">Выйти</a></p>
                       </div>
                 {% else  %}
                     <a href="{{ path('fos_user_security_login') }}" id="enter">Войти</a>
                     <div id="line2"></div>
                     <a href="{{ path('fos_user_registration_register') }}" id="reg">Регистрация</a>
                 {% endif %}
              </div>
              <div  id="form2">
               {# <form action="http://lalook.net/formdata.php" method="POST" name="form">
                  <input type="text" name="search" placeholder="Поиск" id="search">
                  <input type="submit" name="submit" value="" id="submit">
                </form>#}
              </div>
            </div>
          </div>
        </div>
        <nav>
           <div class="container">
            <ul>
                <li><a href="{{ path('la_net_la_net_news_list') }}">Новости</a></li>
                <li><a href="{{ path('la_net_la_net_master_list') }}">Клуб</a></li>
                <li><a href="{{ path('la_net_la_net_brands_list') }}">Брэнды</a></li>
               {# <li><a href="">Косметика</a></li>
                <li><a href="">Магазаны</a></li>
                <li><a href="">Обучение</a></li>
                <li><a href="">Литератур</a></li>
                <li><a href="">Форум</a></li>#}
                <li><a href="{{ path('la_net_la_net_contact') }}">Обратная связь</a></li>
                <li><a href="{{ path('la_net_la_net_about') }}">О портале</a></li>
            </ul>
             </div>
        </nav>
        <div id="line"></div>
    </header>
    
    {% block body %}{% endblock %}
    
    <div class="clear-bottom"></div>
 
    
    <footer>
            <div class="footerLine"></div>
       <div class="container">  
        <nav>
            <ul>
                <li><a href="{{ path('la_net_la_net_news_list') }}">Новости</a></li>
                <li><a href="{{ path('la_net_la_net_master_list') }}">Клуб</a></li>
               {# <li><a href="">Косметика</a></li>
                <li><a href="">Магазаны</a></li>
                <li><a href="">Обучение</a></li>
                <li><a href="">Литератур</a></li>
                <li><a href="">Форум</a></li>#}
                <li><a href="{{ path('la_net_la_net_contact') }}">Обратная связь</a></li>
                <li><a href="{{ path('la_net_la_net_about') }}">О портале</a></li>
            </ul>
        </nav>
        <div class="social">
        <ul class="soc_group">
            <li id="f"><a href="" ><img src="{{ asset('images/f.png') }}" height="20" width="10"/></a></li>
            <li id="in"><a href="" ><img src="{{ asset('images/in.png') }}" height="19" width="21"/></a></li>
            <li id="tw"><a href="" ><img src="{{ asset('images/tw.png') }}" height="16" width="18"/></a></li>
            <li id="vk"><a href="" ><img src="{{ asset('images/vk.png') }}" height="17" width="28"/></a></li>
        </ul>
        </div>
        <p>© 2013-2014 lalook.net. Все права защищены. При полном или частичном использовании материалов портала, гиперссылка http://lalook.net на ресурс обязательна. Администрация может не разделять точку зрения авторов материалов и не несет ответственности за размещаемую пользователями информацию.
        <br />E-mail: lalooknet@gmail.com</p> 
       </div>
    </footer>
  </body>
</html>
