<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
     <script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
      <link rel="stylesheet" href="{{ asset('css/main.css') }}">
             <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    
    <script type="text/javascript">main_css = "{{ asset('css/style.css') }}, {{ asset('css/custom_styles.css') }} "</script>
    {% endblock %}
  </head>
  <body>
    <header class="header-row">
      <div class="wrapper">
        <div class="site-logo">
          <h1> <a href="{{ path('la_net_la_net_homepage') }}">LALOOK</a></h1>
        </div>
        <div class="login-form">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      {{  app.user.username }} |
                      <a href="{{ path('fos_user_security_logout') }}">
                          Выйти
                      </a> 
          {% else  %}
              {% render controller("LaNetLaNetBundle:Main:customLoginForm") %}
          {% endif %}
        </div>
      </div>
    </header>
    <hr />
    {% block body %}{% endblock %}
    <hr style="clear:both;"/>
    <footer>
      <div class="wrapper">la net</div>
    </footer>
  </body>
</html>
   