{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
{% endblock %}  

{% block stylesheets %}
  {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/raty-2.8.0/lib/jquery.raty.js') }}"></script>
  
{% endblock %}
      
{% block content %}
    
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=1540865079331046';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
<div class="school-id">
  <div class="row">
    <div class="col col_1_of_3">
        <a href="{{ asset(school.getWebPath) }}" rel="group-profile-image" class="fancybox" title="{{ school.name | upper }}"><img src="{{ school.getWebPath | imagine_filter('my_master_thumb_large') }}" /></a>
        
        {% if school.getUser.premium is defined %} 
            {% if school.getUser.premium == 1 %}
             <div id="rating-block">
                <div class="solid-stars" data-id="{{school.id}}" data-votes="{{school.getUser.getVotes}}" data-score="{{school.getUser.getRating}}"></div>
                    <div id="avg-rating">Средний рейтинг: {% if school.getUser.getRating %} {{school.getUser.getRating}}{% else %} 0{% endif %}</div>
                    <div id="votes">Голосов:{% if school.getUser.getVotes %}{{school.getUser.getVotes}}{% else %} 0{% endif %}</div>
             </div>  
            {% endif %}
        {% endif %}
        
       
             
    </div>
      <div class="col col_2_of_3">
        <h2 style="color:#578fac;">{{ school.name | upper }}</h2>
        <h5 style="float:left;margin-right: 10px; color:#c2d9b1;">{{ "Основная информация:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
        {% if school.category is not empty %} 
            <div class="row">
              <div class="col col_1_of_3 blue">специальность:</div>
              <div class="col col_2_of_3">{% for item in school.category %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            </div>
        {% endif %}
        {% if (school.location and school.location.locality) %}
            <div class="row">
              <div class="col col_1_of_3 blue">город:</div>
              <div class="col col_2_of_3">{{ school.location.locality }} {{ school.location.administrativearea }}</div>
            </div>
        {% endif %}
        {% if school.user.hasPhones %}
        <div class="row">
            <div class="col col_1_of_3 blue">телефон:</div>
            <div class="col col_2_of_3">
                {% for item in school.user.phone %}
                    {% if item.showPhone  %}
                        <p>+38 ({{ item.operator }}) - {{ item.number }}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if school.user.hasMails %}
          <div class="row">
            <div class="col col_1_of_3 blue">email:</div>
            <div class="col col_2_of_3">
                {% for item in school.user.mail %}
                    {% if item.showMail  %}
                        <p>{{ item.name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  {% if (school.location and school.location.lat) %}
  <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">{{ "Работа:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
  <div id="map" style="width:100%;height:150px; margin-bottom: 20px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var myLatlng = new google.maps.LatLng(
                                   {{ school.location.lat }},
                                   {{ school.location.lang }});
                        var map_options = {
                            center:myLatlng,
                            zoom: 17
                        };
                        var map = new google.maps.Map(map_canvas, map_options);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map
                        });
                        
                    }
                    
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
  {% endif %}
  {% if (school.location and school.location.locality) %}
    <div class="row clear">
      <div class="col col_1_of_3 blue">адрес:</div>
      <div class="col col_2_of_3">{{ school.location.locality }}, {{ school.location.sublocality }}, {{ school.location.route }} {{ school.location.streetNumber }}</div>
    </div> 
  {% endif %}
  {% if school.schedule is not empty %}              
    <div class="row clear">
      <div class="col col_1_of_3 blue">график работы:</div>
      <div class="col col_2_of_3">{% for item in school.schedule %}<p>{{ item.shcedule.nameRus }}{% if item.shcedule.name != 'record' %} {{ item.StartTime }} - {{ item.endTime }} {% endif %}</p>{% endfor %}</div>
    </div> 
  {% endif %}
  {% if school.services is not empty %}
    <div class="row clear">
      <div class="col col_1_of_3 blue">услуги и цены:</div>
      <div class="col col_2_of_3">{% for item in school.services %}<p>{{ item.name }}{% if item.startPrice is not empty %} :  {{ item.startPrice }} {% endif %} {% if item.endPrice is not empty %} - {{ item.endPrice }}{% endif %} {% if item.startPrice is not empty %} грн {% endif %}</p>{% endfor %}</div>
    </div> 
  {% endif %}
  {% if school.portfolio is not empty %}
    <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">{{ "Портфолио:" | upper }}</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
    <div class="gallery-portfolio">
        <div class="row clear">
        {% for image in school.portfolio%}
          
          <div class="col col_1_of_5">
            <a href="{{ asset(image.getWebPath | imagine_filter('my_thumb_portfolio_large')) }}" rel="group1" class="fancybox" title="{{ image.description }}"><img src="{{ image.getWebPath | imagine_filter('my_thumb_portfolio') }}" /></a>
          </div>
          {% if loop.index % 5 == 0 %}
             </div><div class="row clear">
          {% endif %}
        {% endfor %}
        </div>
    </div>
  {% endif %}
  
 
   {#{% if school.getUser.premium == 1 %}#}
        <div class="fb-comments" data-href="http://lalook.net/lalook/web/app_dev.php/school/{{ school.id }}/" data-numposts="5"></div>
   {#{% endif %}#}
  
</div>
  <script>
    $(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
       
       $('.solid-stars').raty({
       path: "{{ asset('images/') }}",
       readOnly: {% if voteDisable == false %}false{% else %}true{% endif %},
       half : true,
       score: function() {
              return $(this).data('score');
      },
      click: function(score, data){
        var id = $(this).data('id');
        var votes = $(this).data('votes');
         
         $.ajax({
            url: Routing.generate('la_net_la_net_ajax_menu_school_rating'),
            data: {rating:score, votes:votes, id:id},
            success: function (response) {
                if (response.length != 0) {
                    var data = response;
                    data = JSON.parse(data)
                    $('#avg-rating').html("Средний рейтинг: " +data.score+"");
                    $('#votes').html("Голосов: " +data.votes+"");
                    $('.solid-stars').raty('readOnly', true);
                }
            }
        }); 
     }    
       
    });
});
  </script>
{% endblock %}