{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
    {% endblock %}      

{% block content %}
<a href="{{ path('la_net_la_net_master_list') }}" class="tabs">Поиск мастера</a><a href="{{ path('la_net_la_net_salon_list') }}" class="tabs">Поиск салона</a><a href="{{ path('la_net_la_net_school_list') }}" class="tabs active">Обучение</a>
<hr style="margin:7px 0 20px 0;" class="clear" />
<div><form action=""><input placeholder="Поиск по названию" style="margin-bottom:0;width:80%;" type="text" name="name" {% if app.request.query.get('name') %}value="{{ app.request.query.get('name') }}"{% endif %}><input style="margin-left:10px;" type="submit" value="Найти"></form></div>

<div> <div style="margin:10px 0 ;">{{ "Подбор Обучения согласно вашим критериям:" | upper }}</div><form action="">
        <select name="category"class="half">
          <option value="0">Выберите специальность</option>
          {% for item in masterCategory %}
            <option value="{{ item.id }}" {% if app.request.query.get('category') == item.id  %} selected="selected"{% endif %}>{{ item.name }}</option>
          {% endfor %}
        </select>
        {% if cities | length %}
            <select name="city"  class="half">
              <option value="0">Выберите город</option>
              {% for item in cities %}
                  <option value="{{ item['locality'] }}" {% if app.request.query.get('city') ==  item['locality']  %} selected="selected"{% endif %}>{{ item['locality'] }}</option>
              {% endfor %}
            </select>
        {% endif %}
        <div><input type="submit" value="Поиск"></div>
      </form>
</div>

<h2 style="float:left;margin-right: 10px;">Карта</h2><hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
<div id="map" style="width:100%;height:250px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNnUyeCiwNqfCJGhYm3-7q5YkyDklTZOM&sensor=false&libraries=places"></script>
                <script>
                    var map;
                    function initialize() {
                        var map_canvas = document.getElementById('map');
                        var map_options = {
                            center: new google.maps.LatLng(49.99, 36.230),
                            zoom: 8
                        };
                        map = new google.maps.Map(map_canvas, map_options);

                    }  
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
        <hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
<section class="holder">
              <div class="row-fluid">
                  <div class="span7">

                      <div class="masters">


                
{% for school in schools %}

      {% if school.location is not empty and school.location.lat is not empty and school.location.lang is not empty %}
        <script type="text/javascript">
            google.maps.event.addDomListener(window, 'load', function() {
                var marker = new google.maps.Marker({
                  position: new google.maps.LatLng({{ school.location.lat }}, {{ school.location.lang }}),
                  map: map,
                  title:"{{ school.name }}" 
              });
            });

        </script>
     {% endif %}
            <div class="masters-item clearfix">
                <div class="masters-item-img">
                    <a href="{{ path('la_net_la_net_school_id', {'id': school.id })}}"><img src="{{ asset(school.getWebPath | imagine_filter('my_masters_list'))}}" /></a>
                </div>
                <div class="masters-item-info">
                   <a href="{{ path('la_net_la_net_school_id', {'id': school.id })}}"><h3 class="masters-item-title {% if school.inTop != NULL%} starred {% endif%}">{{ school.name }}</h3></a>
                        {% if school.category is not empty %}
                            <div class="masters-item-profession">{% for item in school.category %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                        {% endif %}
                 </div>
            </div>
 {% else %}
  Центров обучения нет
{% endfor %}
  </div>
       </div>
     </div>
</section>
  
  
  <div class="row clear pagination">
  {{ knp_pagination_render(schools) }}
  </div>
{% endblock %}