{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block content %}
    <div style="margin:10px 0 ;">{{ "Выбор бренда:" | upper }}</div><form action="">
            <select name="brand" class="half">
               <option value="0">Выберите бренд</option>
          {% for brand in brands %}
            <option value="{{ brand.id }}" {% if app.request.query.get('brand') == brand.id  %} selected="selected"{% endif %}>{{ brand.name }}</option>
          {% endfor %}
        </select>
        
     <div><input type="submit" value="Фильтровать"></div>
      </form>
    
              
        
     <h2>Товары:</h2>
              {% for product in products %}
              <div class="row">
          <div class="col col_1_of_3"><img src="{{ asset(product.getWebPath)}}" style="width:100%;" /></div>
          <div class="col col_2_of_3" style="font-weight: 900">
               {{ product.name }}
          </div>
                <div class="col col_2_of_3">
    {% if product.description|length < 250 %}
        {{ product.description}}
     {% else%}
         <div class="product-description-wrapper">
         <div class="desc">{{ product.description|striptags|slice(0, 250) }}...<div class="button_desc"><a class="blue-link" style="cursor:pointer;">Читать далее</a></div></div>
         <div class="trimed-desc" style="display: none;">{{ product.description}}<div class="button_trimed-desc"><a class="blue-link" style="cursor:pointer;">Свернуть</a></div></div>
         </div>
         {% endif%}
     
        </div>
        </div>
              <hr/>
              {% else %}
                Пока нет товаров
              {% endfor %}
                   
         <script type="text/javascript">
        
        $(".button_desc").click(function(){
        $(this).parents(".product-description-wrapper").find(".desc").hide();
        $(this).parents(".product-description-wrapper").find(".trimed-desc").show();
                
      });
   
        $(".button_trimed-desc").click(function(){
        $(this).parents('.product-description-wrapper').find(".trimed-desc").hide();
        $(this).parents('.product-description-wrapper').find(".desc").show();
        
      });

        </script>    
{% endblock %}

