{% extends "LaNetAdminBundle::layout.html.twig" %}
 
{% block stylesheets %}
      {{ parent() }}
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
      <script src="{{ asset('bundles/lanetadmin/js/productCategory.js') }}"></script>
  {% endblock %}
 
{% macro recursiveCategory(category) %}
    
        <div>{{ form_label(category.name) }}</div>
        <div><a class="toggle-category open" href="">+</a>{{ form_widget(category.name) }}</div>
        
           <div style="display:none;"> 
             <ul {% if not category.parent %} class="categories" data-prototype='<div id="product_category_children___name__"><div><label for="product_category_children___name___name" class="required">Название</label></div><div class="input-wrapper"><a class="toggle-category open" href="">+</a><input type="text" class="half " id="product_category_children___name___name" name="product_category[children][__name__][name]" required="required" /></div><div style="display:none;" id="product_category_children___name___children"><ul class="sub-categories"><li><a href="#" class="add_tag_link">Добавить</a></li></ul></div></div></div>'{% else %} class="sub-categories"{% endif %}>
                {% if category.children|length %}
                  {% for child in category.children %}
                      <li>{{ _self.recursiveCategory(child) }}</li>
                  {% endfor %}
                {% endif %}
             </ul>
           </div>
        
{% endmacro %}
      
      
{% block content %}
  <h2>Список категорий</h2>
  <form action="" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form)}}
               {{ _self.recursiveCategory(form) }}
    {{ form_row(form.save) }}
    {{ form_row(form._token) }}
  </form>

{% endblock %}