{% extends "LaNetAdminBundle::layout.html.twig" %}
 
{% block stylesheets %}
      {{ parent() }}
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
      <script src="{{ asset('bundles/lanetadmin/js/productCategory.js') }}"></script>
  {% endblock %}
 
      
{% block content %}
  {% for flashMessage in app.session.flashbag.get('notice_product_category') %}
          <div class="flash-notice success">
              {{ flashMessage }}
          </div>
        {% endfor %} 
    <h2>Список категорий</h2>
    <a href="{{ path('la_net_admin_product_category_create') }}?id_brand={{brand}}">Добавить категорию</a>
      <ul>
        {% for category in categories %}
            <li>
              <a href="{{ path('la_net_admin_product_category_edit', {'id': category.id}) }}?id_brand={{brand}}">{{ category.name }}</a><a class="float-right delete-category" href="{{ path('la_net_admin_product_category_delete', {'id' : category.id })}}">Удалить</a>
              <hr />
            </li>
        {% endfor %}
    </ul>

      <script>
                $(document).ready(function() {
                $('.delete-category').click(function(event) {
              event.preventDefault();
            if (confirm("Вы уверены что хотите удалить эту категорию?")) {
            var element = $(this);
              $.ajax({
                  url         : element.attr('href'),
                  success     : function(data) {
                    if(data.success) 
                      element.parent().remove();
                    else 
                      alert('Probably there are products related to this category');
              }
              });
            }
              
            });
            
             
         })
    
             
      </script>   
{% endblock %}