{% if  not app.session.has('view_user_profile') %}
    {% if is_granted("ROLE_CROWD_CLIENT") %}
        <form action="{{ path('crowdbuddy_main_edit_client_profile_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {% else %}
        <form action="{{ path('crowdbuddy_main_edit_user_profile_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {% endif %}
{% else %}
    {% if app.session.get('view_user_profile')['client'] %}
        <form action="{{ path('crowdbuddy_main_edit_client_profile_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {% else %}
        <form action="{{ path('crowdbuddy_main_edit_user_profile_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {% endif %}
{% endif %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
