{% extends "LaNetLaNetBundle::layout.html.twig" %}
{% form_theme form 'LaNetLaNetBundle:Form:fields_profile.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
            
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
       <script src="{{ asset('bundles/lanetlanet/js/mastersPortfolio.js') }}"></script>
  {% endblock %}

{% block slider %}
    {% endblock %}
{% block content %}
 
    
   {#<h1 style="float:left; padding-bottom: 10px; margin-right: 10px;">Объявления</h1><hr align="right" style="width:auto;margin: 37px; padding: 0 10px; " size="7" color="#AAA" />#}
            
   <div id="adverts" style="display: none">
       <form action="" {{ form_enctype(form) }} method="POST" name="{{ form.vars.name }}">
        <div class="row errors">{{ form_errors(form) }}</div>
            {{ form_widget(form.file) }}
            {{ form_row(form.title) }}
            {{ form_row(form.post) }}
            {{ form_row(form.name) }}
            <div>{{ form_label(form.phone) }}</div>
            {{ form_widget(form.phone) }}
            {#{{ form_row(form.phone) }}#}
            {{ form_row(form.mail) }}
 <a href="#" class="button" id="hide-advert-btn">Скрыть</a>
            {{ form_widget(form.add_post) }}
            {{ form_row(form._token) }}
            
 
        </form>
    </div>    
        
    <section class="holder">
                    <div class="advert-wrap">
                        <div class="text-center">
                            <a href="#" class="btn" id="add-advert-btn">Новое объявление</a>
                        </div>
                        
    <div id="advert-success-message">  
       {% for flashMessage in app.session.flashbag.get('notice_adverts') %}
            <div class="flash-notice success">
               <h4> {{ flashMessage }} </h4>
            </div>
        {% endfor %}
    </div>
    
                        <hr align="right" style="width:auto;margin-top: 20px" size="2" color="#AAA" />
        
  {% for post in advertsList %}
                        <div class="advert">
                            <div class="advert-holder">
                                <div class="advert-area clearfix">
                                    <div class="advert-img">
                                       <img src="{{ asset(post.getWebPath| imagine_filter('my_adverts_list'))}}" />
                                    </div>
                                    <div class="advert-info">
                                        <h3>{{ post.title }}</h3>
                                        <div class="advert-descr">
                                           {{ post.post }}
                                        </div>
                                        <div class="advert-contacts">
                                           <a>{{ post.mail }}</a>
                                           <a>{{ post.phone }}</a>
                                           <a>{{ post.name }}</a>
                                        </div>
                                    </div>
                                    <a href="#" class="opener">&#8897;</a>
                                    <a href="#" class="closer">&#8896;</a>
                                </div>
                            </div>
                        </div>
{% endfor %}
                                  

                    
                        {#<div class="row clear pagination">
                            <div class="pagination">
                                <span class="current">1</span>
                                <span class="page">
                                        <a href="/club/master?page=2">2</a>
                                    </span>
                                                <span class="page">
                                        <a href="/club/master?page=3">3</a>
                                    </span>
                                                <span class="page">
                                        <a href="/club/master?page=4">4</a>
                                    </span>
                                                <span class="page">
                                        <a href="/club/master?page=5">5</a>
                                    </span>
                                    <span class="next">
                                    <a href="/club/master?page=2">&gt;</a>
                                </span>
                                    <span class="last">
                                    <a href="/club/master?page=10">&gt;&gt;</a>
                                </span>
                            </div>
                          </div>#}
                    </div>
                </section>

    
     
  <div class="row clear pagination">
  {{ knp_pagination_render(advertsList) }}
  </div>
    
    
    
<script>
      $(document).ready(function(){
         
            
  $("#lanet_adverts_phone").intlTelInput({
  //hiddenInput: "full_phone",
  nationalMode: false,
  preferredCountries: ['ua'],
  utilsScript: "../../build/js/utils.js" // just for formatting/placeholders etc
});

      
       $('#add-advert-btn').click(function() {
            
            $('#adverts').show();  
            $('#add-advert-btn').hide();  
            $('#advert-success-message').hide();  
            });
          $('#hide-advert-btn').click(function() {
            
            $('#adverts').hide();  
            $('#add-advert-btn').show();  
            });
        });  
   </script>         
{% endblock %}

            