{% extends "LaNetAdminBundle::layout.html.twig" %}
 
{% block stylesheets %}
      {{ parent() }}
        <script src="{{ asset('js/tiny_mce/tinymce.js')}}"></script>
       <script src="{{ asset('bundles/lanetadmin/js/initTinyMCE.js')}}"></script>
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
       <script src="{{ asset('bundles/lanetlanet/js/mastersPortfolio.js') }}"></script>
  {% endblock %}
      
{% form_theme form _self %}

{% block image_upload_widget %}
    {% spaceless %}
        <div class="float-left">
          <img id="{{id}}_image" style="width:400px;" src="{% if image_url is empty %}{{ asset('uploads/images/default.png') }}{% else %}{{ asset(image_url) }}{% endif %}" class="image-upload-preview" />
        </div>
        <a href="javascript:void(0);" onclick="javascript:openFileInput('{{id}}')" class="button">Upload</a>
        <input type="file" {{ block('widget_attributes') }} style="display:none"/>
        <script type="text/javascript">
            $("#{{id}}").change(function(){
                readURL(this, '{{id}}_image');
            });
        </script>
    {% endspaceless %}
{% endblock %}
  
{% block content %}
  <h2>{% if tests.getId %}Обновить "{{ tests.title }}"{% else %}Создать статью{% endif %}</h2>
  <form action="" method="post" {{ form_enctype(form) }} class="frm-project">
        {{ form_widget(form.file) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.post) }}
     <div style="padding-top: 10px;">
          {{ form_label(form.date) }}
      </div>
     <div style="padding-bottom: 7px;">
         {{ form_widget(form.date) }}
     </div>
    {{ form_row(form.video) }}
      <a href="javascript:void(0);" onclick="javascript:openFileInput('gallery-photo-add')" class="button">Upload multiple</a>
       <input name="files[]" type="file" multiple id="gallery-photo-add" style="display:none">
        
     <div class="gallery"></div>
    
       <ul class="images" style="list-style-type: none;" data-prototype="{{ form_widget(form.portfolio.vars.prototype)|e }}">
         {% for image in form.portfolio %}
           <li>
              {{ form_widget(image.file) }}
              {{ form_row(image.description) }}
              {{ form_row(image.link) }}
              
              {%if image.vars.value.link == '1' %}
               <div><input type="text" value="{{ app.request.scheme ~ '://' ~ app.request.host }}{{asset(image.vars.value.getWebPath)}}"></div>
                {% endif %}
            </li>
         {% endfor %}
       </ul>
    <div>
        <button id="cancel-tests-btn">Назад</button>
      {{ form_widget(form.save_draft) }}
      {{ form_widget(form.add_post) }}
    </div>
         {# {{ form_rest(form) }} #}
         {{ form_row(form._token) }}
  </form>
<script>
     
     $("#articles_date").prop('readonly', true);
  
    $(document).ready(function(){
          $('#cancel-tests-btn').click(function(event) {
              event.preventDefault();
               window.location = Routing.generate('la_net_admin_tests');
            });
        {% if tests.id %}
        $('.remove-image').click(function(event) {
        event.preventDefault();
          var el = $(this);
          $.ajax({
              url         : Routing.generate('la_net_admin_tests_remove_image', {'id': {{ tests.id }}}),
              success     : function(data) {
                if(data) { 
                  el.prev('img').remove();
                  el.remove(); } }
          })
      })
      {% endif %}
        });
        
          {% if not tests.id %}
        window.onload = function () {
            var id_tiny = tinymce.editors[0].id;
            tinymce.get(id_tiny).setContent('');
               };
                        {% endif %}
                            
                     
  </script>
  
   <script>jQuery(function($){
        $.datepicker.regional['ru'] = {
                closeText: 'Закрыть',
                prevText: '&#x3c;Пред',
                nextText: 'След&#x3e;',
                currentText: 'Сегодня',
                monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
                'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
                'Июл','Авг','Сен','Окт','Ноя','Дек'],
                dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
                dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
                dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
                weekHeader: 'Не',
                dateFormat: 'dd-mm-yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['ru']);
});
  $(function() {
    $( ".datepicker" ).datepicker({
      showOn: "button",
      buttonImage: "{{asset('images/Time-And-Date-Calendar-icon.png')}}",
      buttonImageOnly: true,
      buttonText: "Select date",  
        
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      yearRange: "-100:+11",
    });
  });
  </script>
{% endblock %}

