{% extends "LaNetAdminBundle::layout.html.twig" %}
 
{% block stylesheets %}
      {{ parent() }}
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
  {% endblock %}
      
{% form_theme form _self %}

{% block image_upload_widget %}
    {% spaceless %}
        <div class="float-left">
          <img id="{{id}}_image" style="width:400px;" src="{% if image_url is empty %}{{ asset('dev/16x9.gif') }}{% else %}{{ asset(image_url) }}{% endif %}" class="image-upload-preview" />
        </div>
        <a href="javascript:void(0);" onclick="javascript:openFileInput('{{id}}')" class="button">Upload</a>
        <input type="file" {{ block('widget_attributes') }} style="display:none"/>
        <script type="text/javascript">
            $("#{{id}}").change(function(){
                readURL(this, '{{id}}_image');
            });
        </script>
    {% endspaceless %}
{% endblock %}
  
{% block content %}
  <h2>{% if product.getId %}Обновить "{{ product.name }}"{% else %}Создать{% endif %} товар</h2>
  <form action="" method="post" {{ form_enctype(form) }} class="frm-project">
        {{ form_widget(form.file) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.category) }}
    <div>
      <button id="cancel-product-btn">Назад</button>
    {{ form_widget(form.save) }}
    </div>
    {{ form_rest(form) }}
  </form>
  <script>
      $(document).ready(function(){
          $('#cancel-product-btn').click(function() {
               window.location = Routing.generate('la_net_admin_product_list');
            });
        {% if product.id %}
        $('.remove-image').click(function(event) {
        event.preventDefault();
          var el = $(this);
          $.ajax({
              url         : Routing.generate('la_net_admin_product_remove_image', {'id': {{ product.id }}}),
              success     : function(data) {
                if(data) { 
                  el.prev('img').remove();
                  el.remove(); } }
          })
      })
      {% endif %}
        });
  </script>
{% endblock %}