{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block content %}
  <h3>Советы красоты</h3>
  <button id="add-advices-btn">Добавить статью</button>
        {% for flashMessage in app.session.flashbag.get('notice_advices') %}
          <div class="flash-notice success">
              {{ flashMessage }}
          </div>
        {% endfor %}
       
         <form action="">
            <input placeholder="Поиск статьи" style="margin-bottom:0;width:80%;" type="text" name="name" {% if app.request.query.get('name') %}value="{{ app.request.query.get('name') }}"{% endif %}>
            <input style="margin-left:10px;" type="submit" value="Найти">
        </form>
            
 {% if pagination.count %}
        <table class="projects-table">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Удалить статью</th>
                    <th>Редактировать статью</th>
                    <th>Позиция в ТОП</th>
                </tr>
            </thead>
            <tbody>
                {% for post in pagination %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.isdraft ? 'Draft' : 'Published' }}</td>
                        <td>{{ post.created|date("l j-F-y g:ia") }}</td>
                        <td><a href="{{ path('la_net_admin_advices_delete', {'id': post.id}) }}" class="delete-post">Удалить</a></td>
                        <td><a href="{{ path('la_net_admin_advices_edit', {'id': post.id}) }}">Редактировать</a></td>
                        <td><a href="{{ path('la_net_admin_ajax_inTop_advice', {'id': post.id} ) }}" class="update-post button">{% if post.inTop == NULL %}Вывести в ТОП{% else %}Удалить из ТОП{% endif %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            На данный момент статей нет.
        </div>
    {% endif %}
   
    {{ knp_pagination_render(pagination) }}
  <script type="text/javascript">
      $(document).ready(function() {
          $('#add-advices-btn').click(function() {
              window.location = Routing.generate('la_net_admin_advices_add')
          });
          $('.delete-post').click(function(event) {
            event.preventDefault();
            if(confirm("Уверены что хотите удалить?")) {
                var element = $(this);
                $.ajax({
                    url         : element.attr('href'),
                    success     : function(data) {
                      if(data.success) 
                        element.parent().parent().remove();
                }
                });
            }
        });
      });
  </script>
  
   <script type="text/javascript">
    
          $('.update-post').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                    
                    if (element.text() == "Вывести в ТОП"){
                            element.text('Удалить из ТОП')
            
                    } else {
                            element.text('Вывести в ТОП')
                    }
                }
            });
          });
     
  </script>
{% endblock %}
