{% extends "LaNetLaNetBundle::layout.html.twig" %}


{% form_theme form 'LaNetLaNetBundle:Form:fields_profile.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
      <script src="{{ asset('js/tiny_mce/tinymce.js')}}"></script>
      <script src="{{ asset('bundles/lanetadmin/js/initTinyMCE.js')}}"></script>     
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
       <script src="{{ asset('bundles/lanetlanet/js/mastersPortfolio.js') }}"></script>
  {% endblock %}


{% block slider %}
{% endblock %}
{% block content %}
     
    <div id="brand-form" {% if not (error is defined or app.request.query.get('registration') == 'true') %}style="display: none" {% endif %}>
       <form action="" {{ form_enctype(form) }} method="POST" name="{{ form.vars.name }}">
        <div class="row errors">{{ form_errors(form) }}</div>
            {{ form_widget(form.file) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.mail) }}
            {% if error is defined %}<div style='color:red;'>Введенный Вами адрес электронной почты уже используется</div>{% endif %}
    
        <a href="#" class="button" id="hide-brand-btn">Скрыть</a>
            {{ form_widget(form.add_brand) }}
            {{ form_row(form._token) }}
            
 
        </form>
    </div>    
    
     <div class="text-left" style="padding-bottom: 20px;">
       <a href="#" class="btn btn-reverse"  id="add-brand-btn" {% if (error is defined or app.request.query.get('registration') == 'true') %}style="display: none"{% endif %}>Добавить бренд</a>
   
        <a href="#" class="btn btn-reverse" id="capabilities" data-toggle="modal" data-target="#myModalBrand">Возможности портала</a>
    </div>
    
             <div id="advert-success-message">  
       {% for flashMessage in app.session.flashbag.get('notice_brand_main') %}
            <div class="flash-notice success">
               <h4> {{ flashMessage }} </h4>
            </div>
        {% endfor %}
    </div>
            
    <div style="padding-bottom:20px;" class="search-form">
        <form action="">
            <div class="search-form-row">
                <input placeholder="Название" class="search-form-field" type="text" name="name" {% if app.request.query.get('name') %}value="{{ app.request.query.get('name') }}"{% endif %}>
                <img class="search-form-icon" src="{{ asset('images/search.png') }}" alt="search-icon">
            </div>
            <input class="search-form-btn" type="submit" value="Поиск">
        
            
            
            <div>
  <a href='#' style="padding-top:20px;" id='trigger'><h4>Расширеный поиск</h4></a>
  <div id='box' style='{% if not app.request.query.get('category') %}display: none; {% endif %}padding-bottom:20px;'><div class="lable-for-search" style="margin:10px 0 ;"><h6>{{ "Поиск бренда по категории:" | upper }}</h6></div>
   
        <select name="category" class="half">
          <option  value="">Выберите категорию</option>
          {% for item in masterCategory %}
            <option value="{{ item.id }}" {% if app.request.query.get('category') == item.id  %} selected="selected"{% endif %}>{{ item.name }}</option>
          {% endfor %}
        </select>
  </div> 

 </div>     
          
        </form>
    </div>

               
        
        {% if testsSlider %}
    <section class="holder">
            <h2  class="section-title"> <a href="{{ path('la_net_la_net_tests_list')}}">Тестирование продуктов</a></h2>
            <div class="row-fluid">
                <section class="holder">
                   <div class="gallery-wrap">
                        <div class="gallery test-slider">
              
                               
                           {% for post in testsSlider %} 
                            <article class="top-news-item">
                                <a href="{{ path('la_net_la_net_tests_id', { 'slug' : post.slug })}}"><img src="{{ asset(post.getWebPath  | imagine_filter('my_main_page_event_small'))}}"</a>
                                <h3 class="item-title"><a href="{{ path('la_net_la_net_tests_id', { 'slug' : post.slug })}}">{{ post.title}}</a></h3>
                                <div class="top-news-date">{{ post.updated | date ('d.m.Y')}}</div>
                            </article>
                           {% endfor %}     
                        </div>
                    </div>
                </section>  
            </div>
    </section>
     {% endif %}                   
                        
 
{% for item in brands %}
 {% if not loop.first %} <hr /> {% endif %}
  
      
    <a href="{{ path('la_net_la_net_brands_id', { 'slug' : item.slug }) }}">
        <div class="row clear brand-hover">
    <div class="col col_1_of_3"><img src="{{ item.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></div>
    <div class="col col_2_of_3">
      <h2 style="color:#000000">{{item.name }}</h2>
        {#<div class="row">
            <div class="brand-country">
          <div class="col col_2_of_3">{{ item.country }}</div>
          </div>
        </div>
        <div class="row">
           <div class="col col_2_of_2">{{ item.description|striptags|slice(0, 200) }}{% if item.description|length > 200 %}...{% endif %}</div>
        </div>
      <a style="float:right;" href="{{ path('la_net_la_net_brands_id', { 'slug' : item.slug }) }}" class="blue-link">Подробнее</a>#}
   
    </div>
       
        
  </div> </a>
{% else %}
  Список брендов пуст
{% endfor %}             

 <div id="myModalBrand" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" id="close-btn" data-dismiss="modal">×</button>
                       </div>
                    <div class="modal-body">
                        <div>
                          
                           {% if SiteSettings %} {{SiteSettings[0].description | raw}}  {% endif%}
                        
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="close" type="button" id="close-btn" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>          




  <div class="row clear pagination">
  {{ knp_pagination_render(brands) }}
  </div>

<script>
      $(document).ready(function(){
          $("A#trigger").click(function(event){
               event.preventDefault();
        $("DIV#box").toggle();
    });
   
          
          
          $('#add-brand-btn').click(function() {
            var id_tiny = tinymce.editors[0].id;
            tinymce.get(id_tiny).setContent('');
            $('#brand-form').show();  
            $('#add-brand-btn').hide();  
            //$('#advert-success-message').hide();  
            });
          $('#hide-brand-btn').click(function() {
            
            $('#brand-form').hide();  
            $('#add-brand-btn').show();  
            });
            
           
            
        
        
        
        
        });  
        
   </script> 
   
   <script>  
   $(document).ready(function(){
         
      toastr.options = {"closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "7000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                      }
                      
          $('#brand_add_brand').click(function(event) {
            if (tinymce.get(tinymce.editors[0].id).getContent() == ""){
            event.preventDefault();
            toastr.error ('Поле "Описание" не может быть пустым!');
                    }
            });
        
        });
   
    </script> 
   
{% endblock %}