{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}
<a href="{{ path('la_net_la_net_brands_list') }}" class="button grey" style="margin-top: 20px;">Назад</a>
<div class="brand-id">
  <div class="row">
       <div class="col col_1_of_3">
        <a href="{{ asset(brand.getWebPath) }}" rel="group-profile-image" class="fancybox" title="{{ brand.name | upper }}"><img src="{{ brand.getWebPath | imagine_filter('my_master_thumb_large') }}" /></a>
        </div>
      <div class="col col_3_of_5">
        <h2 style="color:#578fac;">{{ brand.name | upper }}</h2>
        <h5 style="float:left;margin-right: 10px; color:#c2d9b1;">Основная информация:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
        <div class="row">
          {#<div class="col col_1_of_3 blue">Страна:</div>#}
          <div class="col col_3_of_3">{{ brand.country }}</div>
        </div>
        <div class="row">
         {# <div class="col col_1_of_3 blue">Товары для мастеров:</div>#}
          <div class="col col_3_of_3">{% for item in brand.masterCategory %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
        </div>
        
          <div class="row">
            {#<div class="col col_1_of_3 blue">Описание:</div>#}
            <div class="col col_1_of_1">
                {{ brand.description }}
            </div>
          </div>
    </div>
  </div>
    {% if brand.category is not empty %}
    <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">Продукция:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
   
        <div class="row clear">
        {% for item in brand.category%}
          
          <div class="col col_1_of_5">
               <p><img src="{{ item.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></p>
               <p style="text-align: center;" class="blue" >{{ item.name }}</p>
          </div>
          {% if loop.index % 5 == 0 %}
             </div><div class="row clear">
          {% endif %}
        {% endfor %}
        </div>
  {% endif %}
    
</div>

   <script>
    $(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
  </script>
{% endblock %}