{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/raty-2.8.0/lib/jquery.raty.js') }}"></script>
  
{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}
     
    <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=1540865079331046';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
<a href="{{ path('la_net_la_net_brands_list') }}" class="button grey" style="margin-top: 20px;">Назад</a>
<div class="brand-id">
  <div class="row">
       <div class="col col_1_of_3">
        <a href="{{ asset(brand.getWebPath) }}" rel="group-profile-image" class="fancybox" title="{{ brand.name | upper }}"><img src="{{ brand.getWebPath | imagine_filter('my_master_large') }}" /></a>
      
        {% if brand.getUser is defined and brand.getUser.premium is defined %} 
            {% if brand.getUser.premium == 1 %}
                <div id="rating-block">
                    <div class="solid-stars" data-id="{{brand.id}}" data-votes="{{brand.getUser.getVotes}}" data-score="{{brand.getUser.getRating}}"></div>
                    <div id="avg-rating">Средний рейтинг: {% if brand.getUser.getRating %} {{brand.getUser.getRating}}{% else %} 0{% endif %}</div>
                    <div id="votes">Голосов:{% if brand.getUser.getVotes %}{{brand.getUser.getVotes}}{% else %} 0{% endif %}</div>
                </div>  
            {% endif %}
       {% endif %}
       
       </div>
      <div class="col col_3_of_5">
        <h2 style="color:#578fac;">{{ brand.name | upper }}</h2>
        <h5 style="float:left;margin-right: 10px; color:#c2d9b1;">Основная информация:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
        <div class="row">
          {#<div class="col col_1_of_3 blue">Страна:</div>#}
          <div class="col col_3_of_3">{{ brand.country }}</div>
        </div>
        <div class="row">
         {# <div class="col col_1_of_3 blue">Товары для мастеров:</div>#}
          <div class="col col_3_of_3">{% for item in brand.brandsCategory %}{{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
        </div>
        
          <div class="row">
            {#<div class="col col_1_of_3 blue">Описание:</div>#}
            <div class="col col_1_of_1">
                {{ brand.description | raw }}
            </div>
          </div>
    </div>
  </div>
    {% if brand.category is not empty %}
    <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">Продукция:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
   
        <div class="row clear">
        {% for item in brand.category%}
          
          <div class="col col_1_of_5">
               <p><img src="{{ item.getWebPath | imagine_filter('my_master_thumb_medium') }}" /></p>
               <p style="text-align: center;" class="blue" >{{ item.name }}</p>
          </div>
          {% if loop.index % 5 == 0 %}
             </div><div class="row clear">
          {% endif %}
        {% endfor %}
        </div>
  {% endif %}
  
    
  
  
  {% if brand.getUser is defined and brand.getUser.premium is defined %} 
        {% if brand.getUser.premium == 1 %}
            
            <div class="row">
              <div class="col col_1_of_1">{% if brand.link %}<a href="{{brand.link}}">{{brand.link}}</a>{% endif %}</div>
              <div class="col col_1_of_1">{% if brand.linkAdd %}<a href="{{brand.linkAdd}}">{{brand.linkAdd}}</a>{% endif %}</div>
            </div>
            {% endif %}
  {% endif %}
    
  {#{% if brand.brandsCategory is not empty %}
    <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">Продукция:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
        <div><a href="{{ path('la_net_la_net_product_list')}}?brand={{ brand.id }}">Перейти к списку товаров</a></div>
  {% endif %}#}
  
  <h5 style="float:left;margin-right: 10px; color:#c2d9b1;" class="clear">Продукция:</h5><hr align="right" style="width:auto;margin-top: 28px" size="2" color="#AAA" />
     {% if products is not empty %}
        <section class="holder">
            {#<h2 class="section-title"><a href="#">Галерея</a></h2>#}
            <div class="row-fluid">
              <div class="gallery-main">
                <div class="row clear">
                    {% for product in products %}
                      <div class="col col_1_of_5">
                         <a href="{{ asset(product.getWebPath | imagine_filter('my_thumb_portfolio_large'))}}" rel="group1" class="fancybox" title="<a href='{{ path('la_net_la_net_product_id', { 'id' : product.id } ) }}'>{{ product.name }}</a>"><img src="{{ asset(product.getWebPath | imagine_filter('my_thumb_portfolio'))}}" /></a>
                      </div>
                        {% if loop.index % 5 == 0 %}
                </div> 
                    <br> 
                <div class="row clear">
                         {% endif %}
             
                    {% endfor %}
                </div>
              </div>   
            </div>
        </section>     
  {% endif %}
  
      
  

 {% if brand.getUser is defined and brand.getUser.premium is defined %} 
        {% if brand.getUser.premium == 1 %}
            <div class="fb-comments" data-href="{{ app.request.getSchemeAndHttpHost() }}{{ path('la_net_la_net_brands_id', { 'slug' : brand.slug }) }}/" data-numposts="5"></div>
        {% endif %}
   {% endif %}
  
  
  
  
</div>
<script>
   $(document).ready(function() {
  
       $('.solid-stars').raty({
       path: "{{ asset('images/') }}",
       readOnly: {% if voteDisable == false %}false{% else %}true{% endif %},
       half : true,
       score: function() {
              return $(this).data('score');
      },
      click: function(score, data){
        var id = $(this).data('id');
        var votes = $(this).data('votes');
         
         $.ajax({
            url: Routing.generate('la_net_la_net_ajax_menu_brand_rating'),
            data: {rating:score, votes:votes, id:id},
            success: function (response) {
                if (response.length != 0) {
                    
                    if ((typeof response) == "object"){
                        var data = response;
                        console.log ("data321");
                    }
                    
                    if ((typeof response) == "string"){
                        console.log ('data123');
                        data = jQuery.parseJSON(response);
                    }
                    
                    console.log (data);
                    
                    /*var dara_res = "'"+response+"'";
                    console.log (response);
                    console.log (dara_res);
                    var 
                    //var dataJson = JSON.parse(response);
                   
                    
                                       
                    console.log (response.votes);
                    console.log (dara_res.votes);
                    console.log (data.votes);
                    
                    //data = JSON.parse(data)
                    */
                    $('#avg-rating').html("Средний рейтинг: " +data.score+"");
                    $('#votes').html("Голосов: " +data.votes+"");
                    $('.solid-stars').raty('readOnly', true);
                }
            }
        }); 
     }    
       
});
});
</script>
  
{% endblock %}