<a href="{{ path('la_net_la_net_brands_profile') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_brands_profile' %} active {% endif %}">Основная информация</a>
<a href="{{ path('la_net_la_net_brands_profile_product_category') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_brands_profile_product_category' %} active {% endif %}">Категории товаров</a>
<a href="{{ path('la_net_la_net_brands_profile_products') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_brands_profile_products' %} active {% endif %}">Товары</a>
{#<a href="{{ path('la_net_la_net_school_profile_work') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_salon_profile_work' %} active {% endif %}">График работы</a>
<a href="{{ path('la_net_la_net_school_profile_portfolio') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_salon_profile_portfolio' %} active {% endif %}">Портфолио</a>
<a href="{{ path('la_net_la_net_school_profile_service_price') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_salon_profile_service_price' %} active {% endif %}">Услуги и цены</a>
<a href="{{ path('la_net_la_net_school_profile_discounts') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_salon_profile_discounts' %} active {% endif %}">Скидки</a>#}
<a href="{{ path('la_net_la_net_brands_change_pass') }}" class="tabs fixed {% if app.request.attributes.get('_route') == 'la_net_la_net_brands_change_pass' %} active {% endif %}">Сменить пароль</a>
<hr class="clear" style="margin:7px 0 20px 0;" />