{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block stylesheets %}
      {{ parent() }}
        <script src="{{ asset('js/tiny_mce/tinymce.js')}}"></script>
        <script src="{{ asset('bundles/lanetadmin/js/initTinyMCE.js')}}"></script>
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
  {% endblock %}

{% block content %}
  <h3>Новости</h3>
  <button id="add-news-post-btn">Добавить новость</button>
        {% for flashMessage in app.session.flashbag.get('notice_news') %}
          <div class="flash-notice success">
              {{ flashMessage }}
          </div>
        {% endfor %}
  {% if pagination.count %}
        <table class="projects-table">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Удалить новость</th>
                    <th>Редактировать новость</th>
                    <th>Позиция в ТОП</th>
                </tr>
            </thead>
            <tbody>
                {% for post in pagination %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.isdraft ? 'Draft' : 'Published' }}</td>
                        <td>{{ post.created|date("l j-F-y g:ia") }}</td>
                        <td><a href="{{ path('la_net_admin_news_post_delete', {'id': post.id}) }}" class="delete-post">Удалить</a></td>
                        <td><a href="{{ path('la_net_admin_news_post_edit', {'id': post.id}) }}">Редактировать</a></td>
                        <td><a href="{{ path('la_net_admin_ajax_inTop_news', {'id': post.id} ) }}" class="update-post button">{% if post.inTop == NULL %}Вывести в ТОП{% else %}Удалить из ТОП{% endif %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            На данный момент нет новостей.
        </div>
    {% endif %}
    {{ knp_pagination_render(pagination) }}
  <script type="text/javascript">
      $(document).ready(function() {         
          $('#add-news-post-btn').click(function() {
        window.location = Routing.generate('la_net_admin_news_post_add')
          });
          $('.delete-post').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                  if(data.success) 
                    element.parent().parent().remove();
            }
            });
          });
      });
  </script>
   <script type="text/javascript">
    
          $('.update-post').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {
                    
                    if (element.text() == "Вывести в ТОП"){
                            element.text('Удалить из ТОП')
            
                    } else {
                            element.text('Вывести в ТОП')
                    }
                }
            });
          });
     
  </script>
{% endblock %}
