{% for item in items %}
    <div class="user-item">
        
        {#<div class="image col col_1_of_6 tablet_1_of_3 mobile_1_of_1"><img src="{{ asset(item.userInfo.getWebPath) | imagine_filter('my_master_thumb_medium') }}"></div>#}
      <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
            Email: <br />
            <span>{{ item.email }}</span>
      </div>  
      <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
            ФИО: <br />
            <span>{{ item.userInfo.firstname }} {{ item.userInfo.lastname }}</span>
        </div>

        <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
            <a href="javascript:void(0)" class="remove-consumer button" data="{{ item.id }}">Удалить</a>
        </div>
    </div>
    <div class="clear"></div>
{% endfor %}
{{ knp_pagination_render(items) }}