{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
{% endblock %}
{% block content %}

    
    
    
    
    
    
      {#<section class="holder">
                   <div class="row-fluid">
                        <div class="span10">
                            {% for post in news %}  
                                        <div class="info-block clearfix"><article class="top-news-item is-horizontal clearfix">
                                        <a href="{{ path('la_net_la_net_advices_id', { 'slug' : post.slug } ) }}"><img src="{{ asset(post.getWebPath)}}" alt="placeholder"></a>
                                        <h3 class="item-title" style="margin-left: 40%;"><a href="{{ path('la_net_la_net_advices_id', { 'slug' : post.slug } ) }}">{{ post.title }}</a></h3>
                                        <div>{{post.description}}</div>
                                            </article>  </div>
                                {% else %}
                                   Пока статей нет                          
                            {% endfor %}                            
                        </div>
                                     
                        
                    </div>
                </section>#}
    
      
      
      
      
    
    
     
                                 {% for post in news %}
             {% if not loop.first %} <hr /> {% endif %}
              <div class="row">
                <div class="col col_1_of_3" style='margin-bottom: 20px;'><img src="{{ asset(post.getWebPath | imagine_filter('my_main_page_event_big'))}}" style="width:100%;" /></div>
                <div class="col col_2_of_3" style="font-weight: 900"><h4>{{ post.title }}</h4></div>
                <div class="col col_2_of_3">{{ post.description | raw }} <a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                </div>
                {#  <h3 style="color:#2d93b2;text-align: center;">{{ post.title | upper}}</h3>
                <div class="col col_1_of_3" style='margin-bottom: 20px;'><img src="{{ post.getWebPath | imagine_filter('my_news_big')}}" style="width:100%;" /></div>
                <div class="col col_1_of_1">
                    {{ post.description | raw }} <a href="{{ path('la_net_la_net_events_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                </div>
                {#<div class="col col_1_of_2" style="color:#2d93b2;">
                    Добавлена на сайт {{ post.updated | localizeddate('long', 'short')}}
                </div>#}
                {#<div class="col col_1_of_2" style="color:#2d93b2;">
                    Отправить:
                </div>
              </div>#}
                </div>
                {% else %}
                                   Пока статей нет                          
                            {% endfor %}    
                         
                  
            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {#<h1 style="float:left;margin-right: 10px;">Новости</h1><hr align="right" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
              {% for post in news %}
              {% if not loop.first %} <hr /> {% endif %}
                             
                    <div class="row">
                        
                     <h3 style="color:#2d93b2;text-align: center;">{{ post.title | upper}}</h3>
                     <div class="col col_1_of_1" style='margin-bottom: 20px;'><img src="{{ asset(post.getWebPath | imagine_filter('my_main_page_event_big'))}}" style="width:100%;" /></div>
                     <div class="col col_1_of_1">  
                         {{ post.description | raw }} <a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                     </div>
                     {#<div class="col col_1_of_2" style="color:#2d93b2;">
                         Добавлена на сайт {{ post.updated | localizeddate('long', 'short')}}
                     </div>#}
                     {#<div class="col col_1_of_2" style="color:#2d93b2;">
                         Отправить:
                     </div>
                   </div>          
                 {% else %}
                Пока нет новостей
              {% endfor %}#}
                     
  <div class="row clear pagination">
  {{ knp_pagination_render(news) }}
  </div>
{% endblock %}