{% extends "LaNetLaNetBundle::layout.html.twig" %}

{% block slider %}
{% endblock %}
{% block content %}
 <h1 style="float:left;margin-right: 10px;">Новости</h1><hr align="right" style="width:auto;margin: 37px; padding: 0 10px; " size="2" color="#AAA" />
              {% for post in news %}
              {% if not loop.first %} <hr /> {% endif %}
              <div class="row">
                <h3 style="color:#2d93b2;text-align: center;">{{ post.title | upper}}</h3>
                <div class="col col_1_of_1" style='margin-bottom: 20px;'><img src="{{ post.getWebPath | imagine_filter('my_master_thumb_medium')}}" style="width:100%;" /></div>
                <div class="col col_1_of_1">
                    {{ post.description }} <a href="{{ path('la_net_la_net_news_id', { 'slug' : post.slug } ) }}" class="blue-link">Подробнее</a>
                </div>
                <div class="col col_1_of_2" style="color:#2d93b2;">
                    Добавлена на сайт {{ post.updated | date("F jS Y")}}
                </div>
                <div class="col col_1_of_2" style="color:#2d93b2;">
                    Отправить:
                </div>
              </div>
              {% else %}
                Пока нет новостей
              {% endfor %}
{% endblock %}