{% extends "LaNetAdminBundle::layout.html.twig" %}
  
{% block content %}
    <a href="{{ path('la_net_admin_salons') }}"> < Назад</a>
    <h1>Салоны:</h1>
    <div class="results">
        {% for flashMessage in app.session.flashbag.get('notice_salon') %}
          <div class="flash-notice success">
              {{ flashMessage }}
          </div>
        {% endfor %}
    </div>
    {#<div id="users-nav">
        <span><a href="" class="users-filter active-link" data="">#</a></span>
        <span><a href="" class="users-filter" data="">0-9</a></span>
        {% for letter in 'а'..'я' %}
            <span><a href="" class="users-filter" data="{{letter}}">{{letter|upper}}</a></span>
        {% endfor %}
    </div>#}
      
   <div style="margin-top: 30px;" id="users-list">
        {% for salon in salons %}
            <div class="user-item">

                      {#<div class="image col col_1_of_6 tablet_1_of_3 mobile_1_of_1"><img src="{{ asset(master.getWebPath) | imagine_filter('my_master_thumb_medium') }}"></div>#}
              <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
                    Email: <br />
                    <span>{{ salon.user.email }}</span>
                </div>  

                <div class="col col_2_of_6 tablet_1_of_3 mobile_1_of_1">
                     Название: <br />
            <span>{{ salon.name }}</span>
        </div>
        
        <div class="col col_1_of_6 tablet_1_of_3 mobile_1_of_1">
                    Дата регистрации: <br />
           <span>{{ salon.user.created|date("m/d/Y") }}</span>
        </div>
        
                <div class="col col_1_of_6 tablet_1_of_3 mobile_1_of_1">
                    <a href="javascript:void(0)" class="remove-salon button" data="{{ salon.user.id }}">Удалить</a>
                     <a href="{{ path('la_net_admin_ajax_inTop_salon', {'id': salon.id} ) }}" class="update-post button">{% if salon.inTop == NULL %}Вывести в ТОП{% else %}Удалить из ТОП{% endif %}</a>
                    {#<a href="{{ path('la_net_admin_masters_edit_profile', {'id': master.id} ) }}" class="button">Редактировать</a>#}
                </div>
            </div>
           <div class="clear"></div>
                    <hr>
        {% endfor %}
               
        {{ knp_pagination_render(salons) }}
    </div>
    <script>
    $(document).ready(function() {

        $('a.remove-salon').click(function() {
            var link = $(this);
            $.ajax({
              url: Routing.generate('la_net_admin_ajax_delete_salon', {'id':link.attr('data')}),
              success     : function(data) {
                      link.parents('.user-item').remove();
                   }
              });
          });

        $('.update-post').click(function(event) {
            event.preventDefault();
            var element = $(this);
            $.ajax({
                url         : element.attr('href'),
                success     : function(data) {

                    if (element.text() == "Вывести в ТОП"){
                            element.text('Удалить из ТОП')

                    } else {
                            element.text('Вывести в ТОП')
                    }
                }
            });
          });

    });
    </script>
   {% endblock content %}

