{% extends "LaNetAdminBundle::layout.html.twig" %}

{% block content %}

<div class="admin-main-menu">
 <ul>
  <li><a href="{{ path('la_net_admin_salons_list') }}">Список салонов</a></li>
</ul>
  </div> 

   <div class="admin-main-menu-period"> 
 <ul>
    <li><a href="{{ path('la_net_admin_salons_list', {'period': 'day'}) }}">Добавленные за день({{day}})</a><a href="{{ path('la_net_admin_salons_list', {'period': 'week'}) }}">Добавленные за неделю({{week}})</a><a href="{{ path('la_net_admin_salons_list', {'period': 'month'}) }}">Добавленные за месяц({{month}})</a></li>
 </ul>
   </div>
{% endblock content %}