{% extends "LaNetAdminBundle::layout.html.twig" %}
 
{% block stylesheets %}
      {{ parent() }}
     {# <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>#}
     <script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
      
        <script src="{{ asset('js/tiny_mce/tinymce.js')}}"></script>
        <script src="{{ asset('bundles/lanetadmin/js/initTinyMCE.js')}}"></script>
      <script src="{{ asset('bundles/lanetlanet/js/previewImage.js') }}"></script>
       <script src="{{ asset('bundles/lanetlanet/js/mastersPortfolio.js') }}"></script>
     <link rel="stylesheet" href="{{ asset('js/intl-tel-input-12.1.0/build/css/intlTelInput.css')}}">
     <script src="{{ asset('js/intl-tel-input-12.1.0/build/js/intlTelInput.js')}}"></script>
        

{% endblock %}
      
{% form_theme form _self %}

{% block image_upload_widget %}
    {% spaceless %}
        <div class="float-left">
          <img id="{{id}}_image" style="width:400px;" src="{% if image_url is empty %}{{ asset('uploads/images/default.png') }}{% else %}{{ asset(image_url) }}{% endif %}" class="image-upload-preview" />
        </div>
        <a href="javascript:void(0);" onclick="javascript:openFileInput('{{id}}')" class="button">Upload</a>
        <input type="file" {{ block('widget_attributes') }} style="display:none"/>
        <script type="text/javascript">
            $("#{{id}}").change(function(){
                readURL(this, '{{id}}_image');
            });
        </script>
    {% endspaceless %}
{% endblock %}
  
{% block content %}
  <h2>Редактировать объявление "{{ adverts.title }}"</h2>
  <form action="" method="post" {{ form_enctype(form) }} class="frm-project">
    {{ form_widget(form.file) }}
    {{ form_row(form.title) }}
    {{ form_row(form.post) }} 
    {{ form_row(form.name) }}
     <div>{{ form_label(form.phone) }}</div>
            {{ form_widget(form.phone) }}
    {#{{ form_row(form.phone) }}#}
    {{ form_row(form.mail) }}
  
    <button id="cancel-adverts-btn">Назад</button>
    
    {% if adverts.getIsDraft() == '1' %} {{ form_widget(form.public) }}  {% do form.draft.setRendered %}{% endif %}
    {% if adverts.getIsDraft() == NULL %} {{ form_widget(form.draft) }}  {% do form.public.setRendered %} {% endif %}
   
    {{ form_widget(form.add_post) }}
     {{ form_rest(form) }} 
  
  </form>
  <script>
      $(document).ready(function(){
        $("#lanet_adverts_phone").intlTelInput({
          //hiddenInput: "full_phone",
          nationalMode: false,
          preferredCountries: ['ua'],
          utilsScript: "../../build/js/utils.js" // just for formatting/placeholders etc
        });
        
        $('#cancel-adverts-btn').click(function(event) {
              event.preventDefault();
               window.location = Routing.generate('la_net_admin_adverts');
            });
        });
  </script>
 
{% endblock %}

